@import "../../variables.less";
@import "../anchor.less";
@import "../buttons/shadowHover.less";

@footerClassName: footer;
@footerLinkHoverColor: @primary;
@footerLinkColor: @footerColor;
@footerHorizontalPadding: 10px;

.@{footerClassName} {
    background: @footerBg;
    color: @footerColor;
    margin-top: 50px;
    padding: 70px @footerHorizontalPadding 0 @footerHorizontalPadding;

    &-divider {
        width: 100%;
        height: 1px;
        background: #ebebeb;
        margin-bottom: 30px;
        margin-top: 30px;
    }

    &-contact-link {
        .anchor(@footerLinkColor, @footerLinkHoverColor);
    }

    &-logo {
        margin-bottom: 15px;
    }

    &-slogan {
        margin-bottom: 15px;
    }

    &-title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    &-bottom {
        background: darken(@footerBg, 2%);
        display: flex;
        width: calc(100% + (@footerHorizontalPadding * 2));
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 30px;
        margin-left: -@footerHorizontalPadding;
        padding-left: 12px + @footerHorizontalPadding;
        padding-right: 12px + @footerHorizontalPadding;

        &-left,
        &-right {
            display: flex;
            align-items: center;
        }

        &-right {
            justify-content: flex-end;
        }

        &-divider {
            background: @footerLinkColor;
            width: 1px;
            height: 20px;
            margin-left: 10px;
            margin-right: 10px;
        }

        &-link {
            .anchor(@footerLinkHoverColor, @footerLinkHoverColor);
            .anchor-underline-hover(@footerLinkHoverColor, 1px);
            margin-left: 10px;
        }

        &-bright-link {
            .anchor(@footerColor, @footerLinkHoverColor);
        }
    }

    &-link {
        .anchor(@footerLinkColor, @footerLinkHoverColor);
        display: flex;
        margin-bottom: 40px;
    }

    &-socicals {
        margin-bottom: 25px;
    }

    &-socical-link {
        display: inline-flex;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        background: #ffffff;
        border-radius: 100%;
        padding: 7px;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-bottom: 10px;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        &-image {
            max-width: 100%;
        }
    }

    &-instagram-widget {
        margin-bottom: 20px;
    }

    &-instagram-post {
        .anchor(@footerColor, @primary);
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 70px;
        height: 70px;
        vertical-align: middle;
        margin-right: 5px;
        margin-bottom: 5px;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }
    }

    &-instagram-image {
        width: 100%;
        min-height: 100%;
    }

    &-more-link {
        .anchor(@footerColor, @primary);
        .anchor-underline(@footerLinkColor, 1px);
    }
}

@media @medium {
    .@{footerClassName} {
        padding: 35px 0 0 0;

        &-bottom {
            width: 100%;
        }

        .logo {
            width: 140px;
            height: 35px;
        }

        &-title {
            font-size: 23px;
            margin-bottom: 20px;
            margin-top: 25px;
        }

        &-link {
            margin-bottom: 10px;
        }

        &-divider {
            margin-bottom: 15px;
            margin-top: 15px;
        }

        &-socicals {
            margin-bottom: 0px;
        }
    }
}