@import "../../variables.less";
@import "../anchor.less";
@import "../buttons/shadowHover.less";

@footerClassName: footer;
@footerLinkHoverColor: lighten(@primary, 20%);
@footerLinkColor: rgba(255, 255, 255, .7);

.@{footerClassName} {
    background: darken(@primary, 20%);
    color: hsl(0, 0%, 100%);
    margin-top: 50px;
    padding-top: 70px;

    &-divider {
        width: 100%;
        height: 1px;
        background: rgba(255, 255, 255, 0.1);
        margin-bottom: 30px;
        margin-top: 30px;
    }

    &-contact-link {
        .anchor(@footerLinkColor, @footerLinkHoverColor);
    }

    &-logo {
        margin-bottom: 15px;
    }

    &-slogan {
        margin-bottom: 15px;
    }

    &-title {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    &-bottom {
        background: darken(@primary, 23%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 30px;

        &-left,
        &-right {
            display: flex;
            align-items: center;
        }

        &-right {
            justify-content: flex-end;
        }

        &-divider {
            background: rgba(255, 255, 255, 0.6);
            width: 1px;
            height: 20px;
            margin-left: 10px;
            margin-right: 10px;
        }

        &-link {
            .anchor(@footerLinkHoverColor, @footerLinkHoverColor);
            .anchor-underline-hover(@footerLinkHoverColor, 1px);
            margin-left: 10px;
        }

        &-bright-link {
            .anchor(#ffffff, @footerLinkHoverColor);
        }
    }

    &-link {
        .anchor(@footerLinkColor, @footerLinkHoverColor);
        display: flex;
        margin-bottom: 40px;
    }

    &-socical-link {
        display: inline-flex;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        background: #fff;
        border-radius: 100%;
        padding: 7px;
        align-items: center;
        justify-content: center;
        margin-right: 10px;
        margin-bottom: 10px;
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        &-image {
            max-width: 100%;
        }
    }

    &-instagram-widget {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        grid-gap: 5px;
        max-width: 415px;
        margin-bottom: 20px;
    }

    &-instagram-post {
        .anchor(#ffffff, #ffffff);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;

        &:hover {
            animation-duration: .5s;
            animation-name: swingAnimation;
            animation-timing-function: ease-in-out;
        }
    }

    &-instagram-image {
        width: 100%;
        min-height: 100%;
    }

    &-more-link {
        .anchor(#ffffff, #ffffff);
        .anchor-underline(rgba(255, 255, 255, 0.7), 1px);
    }

    &-subscribe-form {
        margin-top: 20px;
        display: flex;
        border-radius: 50px;
        background: rgb(255 255 255);
        max-width: 415px;

        &-input {
            border-radius: 50px;
            border: 0px;
            flex: 1;
            padding-left: 10px;
            padding-right: 10px;
            outline: none;
            height: 45px;
            background: transparent;
        }

        .btn {
            border-radius: 50px;
            padding-left: 20px;
            margin-right: -1px;
            padding-right: 20px;
        }
    }
}