include thumbnail.pug
include ../titleLink.pug

mixin articlesSlider(title, linkTitle, id)
    -
        let breakpoints = {};
        let j = 2;

        for (let i = 300; i < 2400; i += 300) {
            breakpoints[i] = {
                slides: j,
                space: 10,
            }

            j++;
        }
        breakpoints = JSON.stringify(breakpoints);
    .section.section-slider
        .container-full
            +titleLink(title, linkTitle)
            .simple-slider(id=id data-breakpoints=breakpoints)
                .swiper-container
                    .swiper-wrapper
                        - for (let i = 0; i < 20; i++) {
                            .swiper-slide
                                +articleThumbnail()
                        - }
                .swiper-button-prev
                .swiper-button-next
