.demos
	a.demo-link(href="demos/cart.html")
		img.demo-image(src="screenshots/cart.jpg" alt="Demo cart.html")
		| Cart
	a.demo-link(href="demos/category-1.html")
		img.demo-image(src="screenshots/category-1.jpg" alt="Demo category-1.html")
		| Category 1
	a.demo-link(href="demos/category.html")
		img.demo-image(src="screenshots/category.jpg" alt="Demo category.html")
		| Category
	a.demo-link(href="demos/index.html")
		img.demo-image(src="screenshots/index.jpg" alt="Demo index.html")
		| Index
	a.demo-link(href="demos/product-card-1.html")
		img.demo-image(src="screenshots/product-card-1.jpg" alt="Demo product-card-1.html")
		| Product card 1
	a.demo-link(href="demos/product-card.html")
		img.demo-image(src="screenshots/product-card.jpg" alt="Demo product-card.html")
		| Product card