.demos
	a.demo-link(href="demos/index.html")
		img.demo-image(src="screenshots/index.jpg" alt="Demo index.html")
		| Home Demo #1
	a.demo-link(href="demos/index-1.html")
		img.demo-image(src="screenshots/index-1.jpg" alt="Demo index-1.html")
		| Home Demo #2
	a.demo-link(href="demos/category-1.html")
		img.demo-image(src="screenshots/category-1.jpg" alt="Demo category-1.html")
		| Catalog Demo #1
	a.demo-link(href="demos/category-3.html")
		img.demo-image(src="screenshots/category-3.jpg" alt="Demo category-3.html")
		| Catalog Demo #2
	a.demo-link(href="demos/category-inline.html")
		img.demo-image(src="screenshots/category-inline.jpg" alt="Demo category-inline.html")
		| Catalog Demo #3
	a.demo-link(href="demos/category.html")
		img.demo-image(src="screenshots/category.jpg" alt="Demo category.html")
		| Catalog Demo #4
	a.demo-link(href="demos/cart.html")
		img.demo-image(src="screenshots/cart.jpg" alt="Demo cart.html")
		| Shopping Cart
	a.demo-link(href="demos/product-card-1.html")
		img.demo-image(src="screenshots/product-card-1.jpg" alt="Demo product-card-1.html")
		| Product Page Demo #1
	a.demo-link(href="demos/product-card.html")
		img.demo-image(src="screenshots/product-card.jpg" alt="Demo product-card.html")
		| Product Page Demo #2
	a.demo-link(href="demos/article-1.html")
		img.demo-image(src="screenshots/article-1.jpg" alt="Demo article-1.html")
		| Article Demo #1
	a.demo-link(href="demos/article.html")
		img.demo-image(src="screenshots/article.jpg" alt="Demo article.html")
		| Article Demo #2





