doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
        link(rel="icon" href="img/favicon.svg")

        title lightShops - Professional e-commerce HTML-template

        link(rel="stylesheet" href="css/style.css")
    - const year =  new Date().getFullYear();
    body
        .landing
            .container.landing-container
                .landing-art
                    .bi.bi-box
                    .bi.bi-box
                    .bi.bi-box
                .row
                    .col-lg-6
                        .landing-logo
                            include ../../src/views/mixins/logo/logo-svg.html
                        h1.landing-title Universal eCommerce HTML Template

                        .landing-pluses
                            .landing-pluse
                                .bi.bi-plus
                                | Modern fully responsive design
                            .landing-pluse
                                .bi.bi-plus
                                | Fast loading speed and low size   
                            .landing-pluse
                                .bi.bi-plus
                                | Bootstrap 5 and jQuery based

                        a.btn.btn-primary.btn-large.landing-btn-demo(href="demos/inde.html")
                            .bi.bi-play
                            | Watch demo

                    .col-lg-6
                        .landing-mockup
                            img.landing-mockup-image(src="img/mockup.jpg" alt="Landing mockup")
    script(src="js/main.js")