doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")

        title lightShops - Professional e-commerce HTML-template

        link(rel="stylesheet" href="css/style.css")

    body
        .header
            .header-blobs
                img.header-blob.animate__animated.animate__fadeInUp(src=`img/3.jpg`, alt="Art")
                img.header-blob.animate__animated.animate__fadeInUp(src=`img/2.jpg`, alt="Art")
                img.header-blob.animate__animated.animate__fadeInUp(src=`img/1.jpg`, alt="Art")
            .header-area
                .header-content.animate__animated.animate__fadeIn
                    .header-logo
                        include ../../src/views/mixins/logo/logo-svg.html
                    .header-divider
                    h1.header-title Professional e-commerce HTML-template
                    .counters
                        .counter
                            .counter-amount 
                                .counter-amount-value 
                                    span(data-counter) 30
                                    | +
                            .counter-hint Demo Pages
                        .counter
                            .counter-amount 
                                .counter-amount-value 3
                            .counter-hint Color Schemes
                        .counter
                            .counter-amount 
                                .counter-amount-value  100%
                            .counter-hint Responsive
                    button.buy-btn
                        .bi.bi-cart
                        | Buy now
                    //- img.main-mockup(src="img/main-mockup.png" alt="Theme mockup")

        h2.section-title Demo Pages
        include demos.pug
    script(src="js/main.js")