doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")

        title lightShops - Professional e-commerce HTML-template

        link(rel="stylesheet" href="css/style.css")

    body
        .header
            img.header-blob(src=`img/3.jpg`, alt="Art")
            img.header-blob(src=`img/2.jpg`, alt="Art")
            img.header-blob(src=`img/1.jpg`, alt="Art")
            .header-area
                .header-content
                    .header-logo
                        include ../../src/views/mixins/logo/logo-svg.html
                    .header-divider
                    h1.header-title Professional e-commerce HTML-template
                    button.buy-btn
                        .bi.bi-cart
                        | Buy now
                    //- img.main-mockup(src="img/main-mockup.png" alt="Theme mockup")


        include demos.pug