@import "../variables.less";
@import "../components/buttons/shadowHover.less";

@announcementClassName: announcement;

.@{announcementClassName} {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 30px;
    border-radius: @borderRadius;
    .anchor(#ffffff, #ffffff);
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity .3s ease-in-out;
    border: 1px solid #eeeeee;
    background-position: 0 0;
    padding: 30px;

    &:hover {
        opacity: .9;
    }

    &.@{announcementClassName}-vertical {
        .@{announcementClassName}-area {
            justify-content: flex-start;
            padding-top: 50px;
        }
    }

    &.@{announcementClassName}-bright {
        .@{announcementClassName}-area {
            color: fade(@textColor, 80%);
        }
    }

    &-area {
        position: relative;
        z-index: 2;
        color: #ffffff;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        flex-direction: column;
        text-align: center;
    }

    &-sub-title {
        font-weight: 300;
        font-size: 1.1em;
        margin-bottom: 5px;
    }

    &-title {
        font-weight: 900;
        font-size: 3em;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &-countdown {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;

        &-item {
            position: relative;

            &:not(:nth-last-child(1)) {
                margin-right: 25px;

                &:after {
                    content: ":";
                    font-weight: 900;
                    font-size: 2em;
                    display: block;
                    position: absolute;
                    right: -17px;
                    top: 0px;
                    line-height: 1;
                    opacity: .9;
                }
            }
        }

        &-digits-wrapper {
            display: flex;
            margin-bottom: 10px;
            justify-content: space-between;
        }

        &-digit {
            background: rgba(255, 255, 255, 0.4);
            box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.1);
            padding: 5px 7px;
            font-size: 1.4em;
            font-weight: 600;
            border-radius: 3px;
            position: relative;
            overflow: hidden;

            &:not(:nth-last-child(1)) {
                margin-right: 10px;
            }

            &-value {
                z-index: 2;
            }

            &:before {
                content: " ";
                width: 100%;
                height: 2px;
                background: rgba(255, 255, 255, 0.2);
                position: absolute;
                top: calc(50% - 1px);
                z-index: 1;
                left: 0;
                height: 100%;
            }
        }

        &-label {
            font-weight: 600;
            font-size: 0.9em;
        }
    }

    .btn {
        width: fit-content;
    }
}

@media @small {
    .@{announcementClassName} {
        &-title {
            font-size: 2em;
        }

        &-countdown {
            &-digit {
                font-size: 1em;
            }
        }

        &.@{announcementClassName}-vertical {
            .@{announcementClassName}-area {
                padding-top: 0px;
            }
        }
    }
}