@import "../variables.less";
@import "../components/buttons/shadowHover.less";

@announcementClassName: announcement;

.announcement(@color) {
    position: relative;
    color: @color  !important;
    overflow: hidden;
    display: block;
    text-decoration: none !important;
    background-size: cover;
    margin-bottom: 10px;
    border-radius: @borderRadius;
    .shadow-hover();

    &-image {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-position: center 0;
        background-size: cover;
        transition: transform .2s ease-in-out;
    }

    &:hover {
        .@{announcementClassName}-image {
            transform: scale(1.1);
        }
    }

    &-area {
        padding: 55px 25px 55px 25px;
        position: relative;
        z-index: 2;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), transparent);
    }

    &-sub-title {
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 300;
        margin-bottom: 35px;
        position: relative;

        &:after {
            content: " ";
            display: block;
            width: 90px;
            height: 4px;
            background-color: @color;
            margin-top: 10px;
        }
    }

    &-main-title {
        font-size: 35px;
        margin-bottom: 25px;
    }

    &-main-title-smaller {
        font-size: 30px;
    }

    &-description {
        font-size: 23px;
        margin-bottom: 25px;
    }

    &-tags {
        margin-bottom: 25px;
    }

    &-tag {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 5px 10px 5px 10px;
        font-size: 12px;
        border-radius: 20px;
        text-transform: uppercase;
        margin: 0 5px 10px 0;
        border: 1px solid;
    }

    &-tag-icon {
        margin-right: 5px;
    }

    &.@{announcementClassName}-full-height {
        height: 100%;
        margin-bottom: 10px;
    }
}

.@{announcementClassName} {
    .announcement(@textColor);

    & .@{announcementClassName}-image-wrapper {
        &:before {
            opacity: 0.2;
            background: radial-gradient(circle at center, rgba(255, 255, 255, 0.15) 0, rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.7) 100%);
        }
    }

    &:hover .@{announcementClassName}-image-wrapper {
        &:before {
            opacity: 0.4;
        }
    }
}

.@{announcementClassName}-bright {
    .announcement(#ffffff);

    & .@{announcementClassName}-sub-title {
        &:after {
            background-color: #ffffff;
        }
    }

    & .@{announcementClassName}-image-wrapper {
        &:before {
            opacity: 0.3;
            background: radial-gradient(circle at center, rgba(255, 255, 255, 0.05) 0, rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.7) 100%);
        }
    }

    &:hover .@{announcementClassName}-image-wrapper {
        &:before {
            opacity: 0.55;
        }
    }

    & .@{announcementClassName}-tag {
        border: none;
        background: rgba(255, 255, 255, 0.3);
    }

    & .@{announcementClassName}-area {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), transparent);
    }
}

@media @medium {
    .@{announcementClassName} {
        &-area {
            padding: 25px 15px;
        }

        &-main-title {
            font-size: 23px;
            margin-bottom: 20px;

            &-smaller {
                font-size: 16px;
                margin-bottom: 5px;
            }
        }

        &-description {
            font-size: 15px;
            margin-bottom: 15px;
        }

        &-sub-title {
            font-size: 16px;
            margin-bottom: 15px;

            &:after {
                width: 70px;
                height: 2px;
            }
        }
    }
}