@import "../variables.less";
@import "../components/buttons/shadowHover.less";

@brandClassName: brand;

.@{brandClassName} {
    display: flex;
    text-decoration: none !important;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #f3f3f3;
    max-height: 100px;
    background-color: #ffffff;
    height: 100%;
    .shadow-hover();

    &-image {
        max-width: 80%;
        max-height: 80%;
        opacity: .6;
        filter: grayscale(1);
        transition: filter .2s ease-in-out,
            transform .2s ease-in-out,
            opacity .2s ease-in-out;
    }

    &:hover {
        .@{brandClassName}-image {
            filter: grayscale(0);
            transform: scale(1.05);
            opacity: 1;
        }
    }
}