@import "../variables.less";

.text-thin {
  font-weight: 300;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #ffffff;
}

.bg-primary {
  color: #ffffff;
  background: @primary;
}

.text-primary {
  color: @primary;
}

.bg-secondary {
  color: #ffffff;
  background: @secondary;
}

.text-secondary {
  color: @secondary;
}

.bg-success {
  background-color: @success;
  color: #ffffff;
}

.bg-contrast {
  color: #ffffff;
  background: @contrast;
}

.text-contrast {
  color: @contrast;
}

.hover-contrast {
  &:hover {
    color: @contrast;
    border-color: fade(@contrast, 20%);
  }
}

.hover-primary {
  &:hover {
    color: @primary;
    border-color: fade(@primary, 20%);
  }
}

.bg-warning {
  color: #ffffff;
  background: @warning;
}

.text-warning {
  color: @warning;
}

// aquamarine
.bg-aquamarine {
  background-color: rgba(50, 194, 167);
}

.bg-aquamarine-alpha {
  background-color: rgba(50, 194, 167, 0.5);
}

// pink
.bg-pink {
  background-color: rgba(244, 52, 94);
}

.bg-pink-alpha {
  background-color: rgba(244, 52, 94, 0.5);
}

// Faded
.bg-faded {
  background-color: @faded;
}

// Fill
.fill-primary {
  fill: @primary;
}

.fill-secondary {
  fill: @secondary;
}

.fill-text-color {
  fill: @textColor;
}