.logo {
  display: inline-flex;
  text-decoration: none !important;
  cursor: pointer;
  width: 105px;
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  .logo-img {
    width: 100%;
    height: auto;
  }
}
