@import "../variables.less";

@pageTitleClass: page-title;
@minHeigt: 500px;

.@{pageTitleClass} {
    margin-bottom: 30px;
    display: flex;
    align-items: stretch;
    min-height: @minHeigt;
    border-radius: @borderRadius;
    overflow: hidden;

    &-left {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        flex: 1;
        padding: 30px;
        background-color: #f8f8f8;
    }

    &-right {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 40%;
    }

    &-main {
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 65px;
        position: relative;
        line-height: 1.2;

        &:after {
            content: " ";
            display: block;
            position: absolute;
            bottom: -20px;
            width: 150px;
            height: 7px;
            background: @textColor;
        }

    }

    &-secondary {
        font-size: 20px;
        font-weight: 300;
        text-transform: uppercase;
    }
}

@media @large {
    .@{pageTitleClass} {
        min-height: 200px;

        &-main {
            font-size: 25px;
            margin-bottom: 25px;

            &:after {
                display: none;
            }
        }
    }
}

@media @small {
    .@{pageTitleClass} {
        min-height: 200px;

        &-main {
            font-size: 25px;
            margin-bottom: 25px;

            &:after {
                display: none;
            }
        }

        &-left {
            padding: 15px;
        }

        &-right {
            display: none;
        }
    }
}