@import "../components/anchor.less";
@import "../variables.less";
@import "../components/buttons/shadowHover.less";

@paginationClassName: pagination;

.@{paginationClassName} {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    margin-bottom: 30px;

    .btn-@{paginationClassName} {
        .anchor(@textColor, @textColor);
        background-color: #ffffff;
        transition: border-bottom-color .2s ease-in-out;
        font-size: 16px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
        line-height: 1;
        margin: 5px;
        min-width: 40px;
        height: 40px;
        border-bottom: 4px solid transparent;

        .bi {
            margin-right: 0px;
        }

        &.btn-@{paginationClassName}-arrow {
            font-size: 25px;
        }

        &:hover,
        &.active {
            border-bottom-color: @primary;
        }
    }

    .@{paginationClassName}-pages {
        display: inline-flex;
        vertical-align: middle;
        margin-left: 10px;
        margin-right: 10px;
    }
}