@import "../variables.less";
@import "../components/buttons/button.less";
@import "../components/buttons/shadowHover.less";
@import "../components/anchor.less";

@saleBlockClass: sale-block;

.@{saleBlockClass} {
    margin-bottom: 20px;
    color: #ffffff;
    text-decoration: none !important;
    flex: 1;
    background-size: cover;
    background-position: center 0;
    overflow: hidden;
    display: flex;
    border-radius: @borderRadius;
    .shadow-hover();
    background: #eeeeee;
    .anchor(@textColor, @textColor);

    &-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 50%;
        padding: 15px;
    }

    &-right {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    &:nth-last-child(1) {
        margin-bottom: 0px;
    }

    &-title {
        font-size: 20px;
        margin-bottom: 10px;
        font-weight: 700;
    }

    &-amount {
        width: fit-content;
        text-transform: uppercase;
        font-weight: 400;
        padding: 7px 9px;
        border-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        display: flex;
        align-items: center;
        font-size: 11px;
        margin-bottom: 10px;
        color: @contrast;
        background-color: lighten(@contrast, 35%);
    }

    &-time {
        background: #ffffff;
        width: fit-content;
        display: inline-flex;
        flex-direction: column;
        color: @textColor;
        margin: 5px;
        min-width: 50px;
        padding: 10px 5px;
        text-align: center;
        font-weight: 500;

        &-left {
            font-weight: 400;
            border-top: 1px solid #eeeeee;
            margin-left: -5px;
            width: calc(100% + 5px);
            color: @success;
            padding: 5px 0 0 5px;
            margin-top: 5px;
        }
    }

    &:hover {
        z-index: 2;

        .@{saleBlockClass}-amount {
            animation-duration: .5s;
            animation-name: swingAnimation;
            animation-timing-function: ease-in-out;
        }
    }
}

.sales-layout {
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media @medium {
    .@{saleBlockClass} {
        &-title {
            font-weight: 500;
            font-size: 17px;
        }

        &-amount {
            font-size: 11px;
            line-height: 1;
        }
    }
}

@media @small {
    .@{saleBlockClass} {
        margin-bottom: 0;
        margin-right: 10px;

        &:nth-last-child(1) {
            margin-right: 0;
        }
    }

    .sales-layout {
        flex-direction: row;
    }
}