@import "../variables.less";

@sectionClass: section;

.@{sectionClass} {
    padding-top: 50px;
    padding-bottom: 50px;

    .@{sectionClass}-title {
        font-size: 40px;
        margin-bottom: 25px;
        font-weight: bold;
        width: fit-content;
    }
}