@import "../variables.less";

@sectionClass: section;
@sectionMarginBottom: 70px;
@sectionTitleSize: 40px;

.@{sectionClass} {
    margin-bottom: @sectionMarginBottom;

    .@{sectionClass}-title {
        font-size: 40px;
        margin: 0 0 25px 0;
        font-weight: bold;
        width: fit-content;
    }
}

.@{sectionClass}-slider {
    margin-bottom: 0px;
}

.area {
    width: 100%;
    padding: 0 0 0 @sidebarToggledSize;
}

.container-full {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

@media @large {
    .area {
        width: 100%;
        padding: 0 0 0 @sidebarToggledSize - 20px;
    }
}

@media @medium {
    .@{sectionClass} {
        margin-bottom: @sectionMarginBottom - 15;

        .@{sectionClass}-title {
            font-size: 25px;
            margin: 0 0 25px 0;
        }
    }
}

@media @small {
    .@{sectionClass} {
        margin-bottom: @sectionMarginBottom - 45;
    }

    .area {
        padding: 0;
    }
}