mixin sidebarCatalog()
    - if (utils.randomInt(100, 999) % 3 === 0) {
        .row
            .col-xl-7
                .row
                    .col-xl-6
                        +catalog()
                    .col-xl-6
                        +catalog()
                    .col-xl-6
                        +catalog()
                    .col-xl-6
                        +catalog()
            .col-xl-5
                +announcement({
                    subTitle: utils.faker.commerce.department(), 
                    mainTitle: `<b>${utils.faker.company.catchPhrase()}</b>`,
                    btnText : "Shop Now",
                    image: utils.getUpload("announcement/6.jpeg"),
                    isBright: true,
                    fullHeight: true,
                    btnClass: "btn-contrast",
                    tags: [
                        "home",
                        "technical",
                        "kitchen",
                        "natural"
                    ]
                })
    - } else {
        .row
            .col-xl-6
                +catalog()
            .col-xl-6
                +catalog()
        .row
            .col-xl-6
                +catalog()
            .col-xl-6
                +catalog()
        +announcement({
            image: utils.getUpload("announcement/4.jpeg"),
            fullHeight: true,
            mainTitle: `
                <div class="announcement-main-title-smaller">It's time to</div>
                <b>SAVE THE PLANET</b>
            `,
            description: `
                <div class="text-thin">CHOOSE ORGANIC COSMETIC</div>
            `,
            btnText : "Shop Now",
            btnClass: "btn-dark"
        })
    - }