.sidebar
    .sidebar-toggle
        .bi.bi-list
    .sidebar-links
        .sidebar-link
            img.image(src="images/fashion.svg" alt="Fashion icon")
        .sidebar-link
            img.image(src="images/football.svg" alt="Football icon")
        .sidebar-link
            img.image(src="images/technics.svg" alt="Technics icon")
        .sidebar-link
            img.image(src="images/fashion.svg" alt="Fashion icon")
        .sidebar-link
            img.image(src="images/football.svg" alt="Football icon")
        .sidebar-link
            img.image(src="images/technics.svg" alt="Technics icon")