mixin sidebarCatalog()
    - if (utils.randomInt(100, 999) % 3 === 0) {
        .row
            .col-xl-7
                .row
                    .col
                        +catalog()
                    .col
                        +catalog()
                .row
                    .col
                        +catalog()
                    .col
                        +catalog()
            .col-xl-5
                +announcement({
                    isVertical: true,
                    title: "20% OFF", 
                    subTitle: "fantastic sale",
                    image: utils.getUpload("announcement/1.png"),
                    bg: `background: linear-gradient(140deg, #7da100, #abcd36);`,
                })
    - } else {
        .row
            .col
                +catalog()
            .col
                +catalog()
        .row
            .col
                +catalog()
            .col
                +catalog()
        +announcement({
            image: utils.getUpload("announcement/5.png"),
            btnClass: "btn-dark",
            title: "35% OFF", 
            bg: "background: linear-gradient(140deg, #9662a4, #e0a7be);" 
        })
    - }