mixin sidebarCatalog()
    - if (utils.randomInt(100, 999) % 3 === 0) {
        .row.mb-3
            .col-xl-7
                .row
                    .col
                        +catalog()
                    .col
                        +catalog()
                .row
                    .col
                        +catalog()
                    .col
                        +catalog()
            .col-xl-5
                +announcement({
                    image: utils.getUpload("announcement/8.jpg"),
                    isVertical: true,
                    title: "15% OFF", 
                })
        +announcement({
            title: "1 + 1 = 3", 
            image: utils.getUpload("announcement/2.jpg"),
        })
    - } else {
        .row
            .col
                +catalog()
            .col
                +catalog()
        .row
            .col
                +catalog()
            .col
                +catalog()
        .mb-3
            +announcement({
                isBright: true,
                image: utils.getUpload("announcement/6.jpg"),
            })
        +announcement({
            image: utils.getUpload("announcement/5.jpg"),
        })
    - }