mixin modal(options)
    .modal(id=options.id)
        .modal-shade
        .modal-area
            .modal-content
                .modal-close
                    .bi.bi-x-lg
                +#{options.content}(options.contentOptions || {})