.area
  footer.footer
    .container-full
      .footer-subscribe
        .footer-subscribe-title 
          span.bi.bi-envelope-fill.footer-subscribe-title-icon 
          .footer-subscribe-block
            .footer-subscribe-title-main Don't forget to subscribe to our newsletter
            .footer-subscribe-title-sub Don't forget to subscribe to our newsletter
      .row
        .col-xl-2
          .footer-nav
            .footer-nav-title Company
            a(href="#").footer-nav-link About Us
            a(href="#").footer-nav-link Team Member
            a(href="#").footer-nav-link Career
            a(href="#").footer-nav-link Contact Us
            a(href="#").footer-nav-link Affilate
            a(href="#").footer-nav-link Order History
        .col-xl-2
          .footer-nav
            .footer-nav-title My account
            a(href="#").footer-nav-link Track My Order
            a(href="#").footer-nav-link View Cart
            a(href="#").footer-nav-link Sign In
            a(href="#").footer-nav-link Help
            a(href="#").footer-nav-link My Wishlist
            a(href="#").footer-nav-link Privacy Policy
        .col-xl-2
          .footer-nav
            .footer-nav-title My account
            a(href="#").footer-nav-link Track My Order
            a(href="#").footer-nav-link View Cart
            a(href="#").footer-nav-link Sign In
            a(href="#").footer-nav-link Help
            a(href="#").footer-nav-link My Wishlist
            a(href="#").footer-nav-link Privacy Policy
        .col-xl-2
          .footer-nav
            .footer-nav-title My account
            a(href="#").footer-nav-link Track My Order
            a(href="#").footer-nav-link View Cart
            a(href="#").footer-nav-link Sign In
            a(href="#").footer-nav-link Help
            a(href="#").footer-nav-link My Wishlist
            a(href="#").footer-nav-link Privacy Policy
        .col-xl-2
          .footer-nav
            .footer-nav-title Company
            a(href="#").footer-nav-link About Us
            a(href="#").footer-nav-link Team Member
            a(href="#").footer-nav-link Career
            a(href="#").footer-nav-link Contact Us
            a(href="#").footer-nav-link Affilate
            a(href="#").footer-nav-link Order History
        .col-xl-2
          .footer-contacts
            a(href="#").footer-phone
              span.bi.bi-telephone-outbound-fill
              span Let's Talk
            .footer-contacts-item
              span.bi.bi-envelope-open
              .footer-contacts-item-data
                .footer-contacts-item-title Business Applications
                a(href="#").footer-contacts-item-link expressi@mail.com
            .footer-contacts-item
              span.bi.bi-telegram
              .footer-contacts-item-data
                .footer-contacts-item-title Get to know our bot
                a(href="#").footer-contacts-item-link @telegram_bot
script(src="js/main.js")

include ../html/end.html