mixin announcement(options)
    - const className = options.isBright ? "announcement-bright" : "";
    a.announcement(href="#" class= className)
        .announcement-image-wrapper
            img.announcement-image(src= options.image alt= options.fisrtTitle)
        .announcement-content
            .announcement-first-title= options.fisrtTitle
            .announcement-second-title= options.secondTitle
            .btn(class= options.btnClass)= options.btnText
