mixin brands(amount)
    - const randomLogo = () => Math.trunc(Math.random() * (6 - 1) + 1);
    .brands
        - for(let i = 1; i <= amount; i++) {
            a.brand(href="#")
                - let src = `images/brands/${randomLogo()}.jpg`;
                img(src=src, alt="Brand logo").brand-image
        - }