include ../mixins/category.pug

mixin categories
    .section
        .container-full
            .section-title Top Categories Of The Month
            .row
                .col-xl-6.col-xxl-3.pb-3
                    +category("House and Garden",
                    "images/gardening.svg",
                    ["Barbecue and picnic", "Leisure furniture", "Garden equipment", "Leisure furniture",]
                    )
                .col-xl-6.col-xxl-3.pb-3
                    +category("House and Garden",
                    "images/gardening.svg",
                    ["Barbecue and picnic", "Leisure furniture", "Garden equipment", "Leisure furniture",]
                    )
                .col-xl-6.col-xxl-3.pb-3
                    +category("House and Garden",
                    "images/gardening.svg",
                    ["Barbecue and picnic", "Leisure furniture", "Garden equipment", "Leisure furniture",]
                    )
                .col-xl-6.col-xxl-3.pb-3
                    +category("House and Garden",
                    "images/gardening.svg",
                    ["Barbecue and picnic", "Leisure furniture", "Garden equipment", "Leisure furniture",]
                    )
