include ../mixins/category.pug

mixin categories
    .categories
        .categories-title Top Categories Of The Month
        .container
            +category("Fashion", "images/fashion.png")
            +category("Sneackers", "images/sneackers.png")
            +category("Computers", "images/computers.png")
            +category("Furniture", "images/furniture.png")
            +category("Sneackers", "images/sneackers.png")
            +category("Computers", "images/computers.png")
            +category("Furniture", "images/furniture.png")

