mixin mainSlider
    #mainSlider.main-slider-wrapper.swiper-container
        .swiper-wrapper
            .swiper-slide
                img.main-slider-bg-image(src="images/main-slider/bg-1.jpeg" alt="Product 1")
                a.main-slider-content(href="#")
                    .summary
                        .title Choose your taste of <br> this summer
                        .subtitle Add to cart fave items
                    img.image(src="images/main-slider/blender-1.png" alt="Product 1")
            //- .swiper-slide 
            //-     a.main-slider-content.bg-pink-alpha(href="#")
            //-         .summary 
            //-             .title Women's clothing
            //-             .subtitle The best day to shop is today!
            //-         img.image(src="images/main-slider/cosmetics-1.png" alt="Product 2")
            .swiper-slide 
                img.main-slider-bg-image(src="images/main-slider/bg-3.jpeg" alt="Product 3")
                a.main-slider-content(href="#")
                    .summary 
                        .title The latest innovations
                        .subtitle Check out fresh gadgets, designed for you!
                    img.image(src="images/main-slider/gadgets-1.png" alt="Product 2")
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next

