mixin mainSlider
    #mainSlider.main-slider-wrapper.swiper-container
        .swiper-wrapper
            .swiper-slide
                a.main-slider-content.bg-aquamarine-alpha(href="#")
                    .summary
                        .title Choose your taste of <br> this summer
                        .subtitle Add to cart fave items
                    img.image(src="images/main-slider/blender-1.png" alt="Product 1")
            .swiper-slide 
                a.main-slider-content.bg-pink-alpha(href="#")
                    .summary 
                        .title Women's clothing
                        .subtitle The best day to shop is today!
                    img.image(src="images/main-slider/cosmetics-1.png" alt="Product 2")
            .swiper-slide 
                a.main-slider-content.bg-orange-alpha(href="#")
                    .summary 
                        .title The latest innovations
                        .subtitle Check out fresh gadgets, designed for you!
                    img.image(src="images/main-slider/gadgets-1.png" alt="Product 2")
        .swiper-pagination
        .swiper-button-prev
        .swiper-button-next

