mixin pagination()
    .pagination 
        a.btn-pagination.d-none.d-md-flex(href="#") First
        .pagination-pages
            a.btn-pagination.btn-pagination-arrow.d-none.d-md-flex(href="#")
                .bi.bi-arrow-left-short
            a.btn-pagination(href="#") 1
            a.btn-pagination.active(href="#") 2
            a.btn-pagination(href="#") 3
            a.btn-pagination(href="#") ...
            a.btn-pagination.d-none.d-md-flex(href="#") 10
            a.btn-pagination.d-none.d-md-flex(href="#") 11
            a.btn-pagination.d-none.d-md-flex(href="#") 12
            a.btn-pagination.d-none.d-md-flex(href="#") 13
            a.btn-pagination.btn-pagination-arrow.d-none.d-md-flex(href="#")
                .bi.bi-arrow-right-short
        a.btn-pagination.d-none.d-md-flex(href="#") Last
