mixin socials(options = {})
    - const { all, inline } = options

    .socials(class=`${inline ? "socials-inline" : ""}`)
        a.socical-link(href="#")
            img.socical-link-image(src="images/socials/facebook.svg" alt="Social Icon")
        a.socical-link(href="#")
            img.socical-link-image(src="images/socials/twitter.svg" alt="Social Icon")
        - if (all) {
            a.socical-link(href="#")
                img.socical-link-image(src="images/socials/pinterest.svg" alt="Social Icon")
            a.socical-link(href="#")
                img.socical-link-image(src="images/socials/instagram.svg" alt="Social Icon")
            a.socical-link(href="#")
                img.socical-link-image(src="images/socials/tik-tok.svg" alt="Social Icon")
        - }