mixin subscribe()
    form.subscribe-form
        input.subscribe-form-input(type="text" placeholder="youremail@gmail.com" required)
        button.btn.btn-faded-primary(type="submit")
            .bi.bi-envelope
            | Subscribe