@primary: #ec208b;
@contrast: #E91E63;
@warning: #f69305;
@headerTextColor: #444444;
@success: #2ecc71;
@faded: #ede8e4;

@sidebarColor: @textColor;
@sidebarBg: #ffffff;
@sidebarIconBg: rgba(0, 0, 0, 0.06);

@headerTopBg: #f8f8f8;
@headerTopColor: @headerTextColor;