@primary: #0b8bf1;
@secondary: #096fc0;
@contrast: #E91E63;
@warning: #f69305;
@headerTextColor: #444444;
@success: #2ecc71;
@faded: #ede8e4;

@sidebarColor: #ffffff;
@sidebarBg: linear-gradient(to bottom, @primary, lighten(@primary, 30%));
@sidebarIconBg: rgba(255, 255, 255, 0.2);

@headerTopBg: #f8f8f8;
@headerTopColor: @headerTextColor;