@import "./themes/@{theme}.less";

@textColor: #333333;
@greyColor: #f8f8f8;
@controlColor: #efefef;

@footerBg: #f8f8f8;
@footerColor: @textColor;

@controlsMarginBottom: 15px;

@mainFont: "Nunito";
@fontSize: 14;
@pageTitleFontSize: 35px;
@asideTitleFontSize: 25px;

@asideMarginBottom: 20px;

@sidebarToggleMobileHeight: 40px;

@sidebarToggledSize: 80px;
@sidebarIconSize: @sidebarToggledSize - 30px;

@dropdownZIndex: 1000;
@sidebarZindex: @dropdownZIndex + 1;
@modalZindex: @dropdownZIndex + 10;
@tooltipZindex: @modalZindex + 1;
@loaderZindex: @tooltipZindex + 1;

@sidebarWidth: 300px;

@bodyMinWidth: 340px;

@borderRadius: 12px;

/* Breakpoints */
@sm: 576px;
@md: 768px;
@lg: 992px;
@xl: 1200px;
@xxl: 1400px;

@extraSmall: ~"(max-width: @{sm})";
@small: ~"(max-width: @{md})";
@medium: ~"(max-width: @{lg})";
@large: ~"(max-width: @{xl})";
@extraLarge: ~"(max-width: @{xxl})";
@largest: ~"(min-width: @{xl})";