@import "./themes/@{theme}.less";

@textColor: #333333;
@greyColor: #f8f8f8;
@controlColor: #efefef;

@footerBg: rgba(222, 222, 222, 0.7);
@footerColor: @textColor;

@controlsMarginBottom: 15px;

@mainFont: "Roboto";
@fontSize: 14;
@pageTitleFontSize: 35px;
@asideTitleFontSize: 25px;

@asideMarginBottom: 20px;

@dropdownZIndex: 1000;
@sidebarZindex: @dropdownZIndex + 1;
@modalZindex: @dropdownZIndex + 10;

@sidebarWidth: 300px;