.filters-expander
    .filters-expander-header(
        data-toggle="#colorsFilter"
        data-trigger="click"
        data-effect="slide")
        | Colors
    #colorsFilter.filters-expander-body.hidden
        .form-control
            +checkbox("Blue (20)", "blueCheckbox")
        .form-control
            +checkbox("Greed (199)", "greenCheckbox")
        .form-control
            +checkbox("Yellow (30)", "yellowCheckbox")
        .form-control
            +checkbox("Orange (10)", "orangeCheckbox")