mixin filters()
    .filters#filtersSidebar
        form
            .filters-header
                .filters-title Filter:
                a.filters-clean-all(href="#") Clean All
            include brands.pug
            include colors.pug
            include vendors.pug
            include materials.pug
            include price.pug
    .filters-mobile-toggle(data-toggle="#filtersSidebar")
        span.bi.bi-funnel-fill
        | Filters