.filters-expander
    .filters-expander-header.toggled(
        data-toggle="#materialsFilter"
        data-trigger="click"
        data-effect="slide")
        | Materials
    #materialsFilter.filters-expander-body
        +productOption(undefined, undefined, false, "mb-0")
