mixin breadcrumbs(items)
    .breadcrumbs
        - for (let i in items) {
            if (i == items.length - 1)
                .breadcrumbs-current= items[i]
            else
                a.breadcrumbs-link(href=utils.anchor("category-1"))= items[i]
                span.breadcrumbs-divider
                    .bi.bi-chevron-right
        - }