include ../mixins/category.pug

mixin categories
    .section
        .container-full
            .section-title Top Categories Of The Month
            .row
                .col-xl-6.col-xxl-3.pb-3
                    +category(
                        utils.faker.commerce.department(),
                        utils.getUpload("categories/1.svg", "default")
                    )
                .col-xl-6.col-xxl-3.pb-3
                    +category(
                        utils.faker.commerce.department(),
                        utils.getUpload("categories/2.svg", "default")
                    )
                .col-xl-6.col-xxl-3.pb-3
                    +category(
                        utils.faker.commerce.department(),
                        utils.getUpload("categories/3.svg", "default")
                    )
                .col-xl-6.col-xxl-3.pb-3
                    +category(
                        utils.faker.commerce.department(),
                        utils.getUpload("categories/1.svg", "default")
                    )
