mixin specification()
    -
        const labels = ['Model', 'Color', 'Size', 'Guarantee Time'];
        const values = ['Skysuite 320', 'Big', 'Little', 'Black', 'Large, Small', 'White', 'Red', 'Yellow', '3 Months'];

        const data = new Array(utils.randomInt(5, 10)).fill(null).map(() => ({
            label: utils.randomElem(labels),
            value: utils.randomElem(values),
        }));

    .specification
        - for (item of data) {
            .specification-row
                .specification-label=item.label
                .specification-divider
                .specification-value=item.value
        - }
