@import "../../variables.less";

@categoriesClassName: categories;

.@{categoriesClassName} {
    background: @greyColor;
    padding-top: 50px;
    padding-bottom: 70px;
    box-shadow: inset 0px 0px 10px rgb(0 0 0 / 10%);

    .@{categoriesClassName}-title {
        text-align: center;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        column-gap: 5px;
        row-gap: 10px;
    }
}