mixin sidebarCatalog()
    - if (utils.randomInt(100, 999) % 3 === 0) {
        .row.mb-3
            .col-xl-7
                .row
                    .col
                        +catalog()
                    .col
                        +catalog()
                .row
                    .col
                        +catalog()
                    .col
                        +catalog()
            .col-xl-5
                +announcement({
                    image: utils.getUpload("announcement/8.jpg"),
                    isVertical: true,
                    title: "15% OFF", 
                })
    - } else {
        .row
            .col
                +catalog()
            .col
                +catalog()
        .row
            .col
                +catalog()
            .col
                +catalog()
        +announcement({
            isBright: true,
            image: utils.getUpload("announcement/6.jpg"),
        })
    - }