@import "../../components/anchor.less";
@import "../../variables.less";

@headerBottomClass: header-bottom;

@itemsMargin: 25px;

.@{headerBottomClass} {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-link {
    .anchor(@headerTextColor, @primary);
    position: relative;
    font-weight: 500;

    &-arrow {
      margin-right: 0px;
      margin-left: 5px;
      font-size: 11px;
      margin-top: -3px;
      display: inline-block;
    }
  }

  &-left {
    .@{headerBottomClass}-link {
      margin-right: @itemsMargin;
    }
  }

  &-right {
    .@{headerBottomClass}-link {
      margin-left: @itemsMargin;

      .anchor(@headerTextColor, @contrast);

      .image {
        width: 20px;
        margin-top: -3px;
      }
    }
  }
}

@media (min-width: @md) {
  .@{headerBottomClass} {
    display: flex !important;
  }
}

@media @small {
  .@{headerBottomClass} {
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    background: @greyColor;
    right: 0;
    z-index: @sidebarZindex;
    flex-direction: column;
    padding: 10px 0 20px 0;
    overflow-y: auto;
    justify-content: normal;
    display: none;

    &-left,
    &-right {
      width: 100%;
    }

    &-link {
      margin: 0;
      width: 100%;
      justify-content: flex-start;
      border-bottom: 0 !important;
      padding: 9px 15px;
      display: block;

      .dropdown {
        position: static;
        box-shadow: none;
        margin-top: 10px;


        &-item {
          background: transparent;
        }
      }
    }

    &-right {
      .@{headerBottomClass}-link {
        margin-left: 0px;
      }
    }
  }
}