@import "../../components/anchor.less";
@import "../../variables.less";

@headerBottomClass: header-bottom;

@itemsMargin: 25px;

.@{headerBottomClass} {
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-link {
    .anchor(@headerTextColor, @headerTextColor);
    .anchor-underline-hover(@headerTextColor, 2px);
    position: relative;

    .arrow {
      transform: rotate(180deg);
      margin-right: 0px;
      margin-left: 5px;
      font-size: 11px;
      margin-top: -3px;
    }
  }

  &-left {
    .@{headerBottomClass}-link {
      margin-right: @itemsMargin;
    }
  }

  &-right {
    .@{headerBottomClass}-link {
      margin-left: @itemsMargin;

      .anchor(@headerTextColor, @contrast);
      .anchor-underline-hover(transparent, 0px);

      .image {
        width: 20px;
        margin-top: -3px;
      }
    }
  }
}