@import "../../variables.less";
@import "../anchor.less";

@headerClass: header;

@toggleRightSidebar: ~".@{headerClass}-top-link.@{headerClass}-open-right-sidebar";

.@{headerClass} {
    border-left: 1px solid @greyColor;
    border-bottom: 1px solid @greyColor;
    background: #fff;
    margin-bottom: 25px;

    &-top {
        padding: 10px 15px;
        border-bottom: 1px solid @greyColor;
        display: flex;
        justify-content: space-between;
        background: @headerTopBg;
        color: @headerTopColor;

        &-geo {
            display: flex;
            align-items: center;
            color: lighten(@headerTopColor, 10%);
        }

        &-account {
            display: flex;

            .bi {
                margin-right: 5px;
            }
        }

        &-dropdown {
            margin-left: 10px;
            .anchor(@headerTopColor, @primary);
            display: inline-flex;
            align-items: center;
            margin-right: 25px;
            position: relative;

            &:after {
                content: " ";
                display: block;
                margin-left: 5px;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid @headerTopColor;
                transition: border-top-color .2s ease-in-out;
                margin-top: -4px;
            }

            &:hover {
                &:after {
                    border-top: 5px solid @primary;
                }
            }
        }

        &-link {
            .anchor(@headerTopColor, @primary);
            display: inline-flex;

            &-add {
                margin-right: 25px;
            }
        }

        &-divider {
            margin-right: 10px;
            margin-left: 10px;
        }
    }


    @{toggleRightSidebar} {
        background: @textColor;
        .anchor(#ffffff, #ffffff);
        display: none;

        .bi,
        .image {
            margin: 0;
        }
    }
}

@media @medium {
    .@{headerClass} {
        margin-bottom: 15px;

        &-top {
            display: block;
            padding: 8px 10px;
            font-size: 12px;

            &-dropdown {
                margin: 0;
            }

            &-divider {
                display: none;
            }

            &-geo {
                display: flex;
                width: 100%;
                align-items: center;

                .@{headerClass}-top-dropdown {
                    margin-right: 15px;
                    margin-left: 5px;
                }
            }

            &-account {
                position: fixed;
                left: 0px;
                bottom: 0px;
                height: @sidebarToggleMobileHeight;
                width: 100%;
                align-items: center;
                background: #ffffff;
                z-index: @sidebarZindex + 1;
                min-width: @bodyMinWidth;
                border-top: 1px solid #e7e7e7;

                .@{headerClass}-top-label {
                    display: none;
                }

                .@{headerClass}-top-link {
                    margin: 0;
                    font-size: 25px;
                    padding: 5px;
                    flex: 1;
                    border-right: 1px solid @greyColor;
                    text-align: center;
                    align-items: center;
                    justify-content: center;

                    &:nth-last-child(0) {
                        border-right: 0;
                    }

                    .bi,
                    .image {
                        margin: 0;
                    }
                }
            }
        }
    }
}

@media @small {
    .@{headerClass} {
        &-top {
            &-account {
                bottom: @sidebarToggleMobileHeight;
            }
        }

        @{toggleRightSidebar} {
            display: flex;

            &.toggled {
                .bi {
                    &:before {
                        content: "\f62a";
                    }
                }
            }
        }
    }
}