.filters-expander
    .filters-expander-header.toggled(
        data-toggle="#colorsFilter"
        data-trigger="click"
        data-effect="slide")
        | Colors
    #colorsFilter.filters-expander-body
        +productOption(undefined, undefined, true, "mb-0")