.filters-expander
    .filters-expander-header.toggled(
        data-toggle="#vendorsFilter"
        data-trigger="click"
        data-effect="slide")
        | Vendors
    #vendorsFilter.filters-expander-body
        .form-control
            +checkbox("Russia (300)", "nikeCheckbox", true)
        .form-control
            +checkbox("USA (400)", "hermesCheckbox")
        .form-control
            +checkbox("China (299)", "gucciCheckbox")
