include html/start.html

head
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")

  title Expreessi - Marketplace eCommerce HTML Template

  link(rel="stylesheet", href="css/style.css")

<body>
  include welcomePanel.pug
  include topPanel.pug