#mainSlider.main-slider-wrapper.swiper-container
    .swiper-wrapper
        .swiper-slide
            a.main-slider-content(href="#" style="background:linear-gradient(to right, #8be06a, #b8ec66);")
                img.image(src="images/main-slider/blender-1.png" alt="Product 1" style="right:10%;width:437px;top:-150px;transform: rotate(4deg);")
                .summary
                    .title Choose your taste of <br> summer 2021
                    .subtitle Everyday stuff 30% sale
        .swiper-slide 
            a.main-slider-content(href="#" style="color:#ffffff;background:linear-gradient(to right, #f4345e, #f5a37b);")
                img.image(src="images/main-slider/stationery-1.png" alt="Product 1" style="right:10%;width:437px;top:15px;transform: rotate(4deg);")
                .summary 
                    .title The biggest sale in the world!
                    .subtitle Yes, it is true!
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next

