.main-slider-wrapper
    img.bg-image(src="images/main-slider/backpack-1.jpg", alt="Product 1")
    .container
        #mainSlider.swiper-container
            .swiper-wrapper
                .swiper-slide 
                    .main-slider-content
                        .left
                            img.image(src="images/main-slider/backpack-2.png", alt="Product 1")
                        .right 
                            .title The biggest sale in the world!
                            .subtitle Yes, it is true!
                            .buttons
                                a.btn-primary Buy
                .swiper-slide 
                    .main-slider-content
                        .left
                            img.image(src="images/main-slider/backpack-3.png", alt="Product 1")
                        .right 
                            .title The biggest sale in the world!
                            .subtitle Yes, it is true!
                            .buttons
                                a.btn-primary Buy
            .swiper-pagination
            .swiper-button-prev
            .swiper-button-next
