.navigation
    .left
        a.link.active(href="#") Home
        a.link(href="#") Shop
        a.link(href="#") Vendor
        a.link(href="#") Blog
        a.link(href="#") 
            | Pages
            span.bi.bi-triangle-fill.arrow
        a.link(href="#") Elements
        a.link(href="#") Features
    .right
        a.link.daily-sales(href="")
            img.image(src="images/sale.svg" alt="Sales Icon")
            | Daily Sales
