include ../mixins/saleBlock.pug

.popular
    .container
        .row
            .col-xl-9
                include mainSlider.pug
            .col-xl-3
                +sale-block(
                    "bg-green-rgadient",
                    "Free sertificates",
                    "For you and your loved ones!",
                    "#",
                    "Order now",
                    "images/gift.png",
                    "Sertificate Icon")
                +sale-block(
                    "bg-orange-rgadient",
                    "Choose a healthy lifestyle",
                    "For the whole family",
                    "#",
                    "Buy",
                    "images/garden.png",
                    "Sertificate Icon")
