.top-panel
    .container
        .top-panel-nav
            a.link(href="#") Blog
            a.link(href="#") Contant Us 
            a.link(href="#") About
            .dropdown(data-toggle="#languageDropdown", data-trigger="hover")
                img.image(src="images/uk.svg", alt="UK Flag")
                | En
                #languageDropdown.top-panel-dropdown.fade-jump
                    .dropdown-content
                        a.item(href="#")
                            img.image(src="images/uk.svg", alt="UK Flag")
                            | En
                        a.item(href="#")
                            img.image(src="images/fr.svg", alt="France Flag")
                            | Fr
            .dropdown(data-toggle="#currencyDropdown", data-trigger="hover") USD
                #currencyDropdown.top-panel-dropdown.fade-jump
                    .dropdown-content
                        a.item(href="#") USD
                        a.item(href="#") RUB
        .top-panel-auth
            a.link(href="#")
                span.bi.bi-person
                | Sign In
            span.divider
            a.link(href="#")
                span.bi.bi-person-plus-fill
                | Sign Up

