.top-panel
    .container
        .top-panel-nav
            a.link(href="#") Blog
            a.link(href="#") Contant Us 
            a.link(href="#") About
            .dropdown(data-toggle="#languageDropdown", data-trigger="hover")
                span.flag.flag-fr
                | En
                #languageDropdown.top-panel-dropdown.fade-jump
                    .dropdown-content
                        .item 
                            span.flag.flag-fr
                            | En
                        .item 
                            span.flag.flag-fr
                            | Fr
            .dropdown(data-toggle="#currencyDropdown", data-trigger="hover") USD
                #currencyDropdown.top-panel-dropdown.fade-jump
                    .dropdown-content
                        .item USD
                        .item RUB
        .top-panel-auth
            a.link(href="#")
                span.bi.bi-person
                | Sign In
            span.divider
            a.link(href="#")
                span.bi.bi-person-plus-fill
                | Sign Up

