#welcomePanel.fade.shown
    .welcome-panel
        .container
            | Get Up to
            b.badge 40% OFF
            | New-Season Styles!
        .bi.bi-x-lg.btn-close(data-close="#welcomePanel")