@import "../../variables.less";
@import "../anchor.less";
@import "./shipping.less";

@cartTableClassName: cart-table;

.@{cartTableClassName} {
    &-products {
        background: #fff;
        padding: 0 30px 60px 30px;
    }

    &-summary {
        padding: 50px 0 20px 0;
        border-bottom: 1px solid #cecece;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &-title {
        margin: 0;
        font-size: @pageTitleFontSize;
        font-weight: 600;
    }

    &-amount {
        font-weight: 600;
        font-size: 20px
    }

    &-header {
        text-transform: uppercase;
        font-weight: 500;
        color: #757575;
        margin-bottom: 15px;
    }

    &-body {
        border-bottom: 1px solid #cecece;
        margin-bottom: 35px;
        padding-bottom: 30px;
    }

    &-row {
        position: relative;
        margin-bottom: 5px;
    }

    &-col {
        display: flex;
        align-items: center;
        padding-top: 5px;
        padding-bottom: 5px;

        &:not(:nth-child(1)) {
            justify-content: center;
        }

        &-product-wrapper {
            position: relative;
        }

        &-product {
            display: flex;
            align-items: center;
            padding-left: 15px;
            .anchor(@textColor, @primary);

            &-details {
                display: none;
                position: absolute;
                z-index: 3;
                width: 300px;
                top: calc(100% - 25px);
                left: 0px;

                .product-content {
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
                }
            }

            &-image-wrapper {
                width: 100px;
                min-width: 100px;
                height: 100px;
                margin-right: 10px;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;
            }

            &-image {
                max-width: 100%;
            }

            &:hover {
                .@{cartTableClassName}-col-product-image {

                    animation-duration: .5s;
                    animation-name: swingAnimation;
                    animation-timing-function: ease-in-out;
                }
            }

            &-name {
                font-size: 15px;
                font-weight: 500;
            }
        }
    }

    &-remove {
        .anchor(@textColor, @contrast);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: absolute;
        top: 0px;
        left: 10px;
        z-index: 2;
        background: #fff;
        border-radius: 100%;
        width: 30px;
        height: 30px;
        font-size: 24px;
        box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 0px 7px -3px;

        .bi {
            margin-right: 0px;
        }
    }

    &-back {
        .anchor(@primary, @primary);
        .anchor-underline(@primary, 1px);
    }

    &-labels-group {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-label {
        text-transform: uppercase;
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 15px;
    }

    &-divider {
        height: 1px;
        background: #cecece;
        margin-bottom: 15px;
        margin-top: 40px;
    }

    .form-control {
        margin-bottom: 20px;
    }

    &-order {
        margin-bottom: 10px;
    }

}

@media @large {
    .btn-checkout {
        max-width: 400px;
    }
}

@media @medium {
    .@{cartTableClassName} {
        &-summary {
            padding: 0 0 10px 0;
        }

        &-title {
            font-size: 27px;
        }

        &-products {
            padding: 25px 15px;
            margin-bottom: 35px;
        }

        &-amount {
            font-weight: 400;
            font-size: 16px;
        }

        &-header {
            display: none;
        }
    }
}

@media @small {
    .@{cartTableClassName} {
        &-row {
            border-bottom: 5px solid @greyColor;
            padding: 10px 0;
        }

        &-col {
            &-total {
                font-size: 20px;
                margin-top: 10px;
            }
        }
    }
}