.welcome-panel-wrapper.fade.shown
    .welcome-panel
        .container
            | Get Up to 
            b 40% OFF 
            | New-Season Styles
        .bi.bi-x-lg.btn-close(data-close=".welcome-panel-wrapper")