@import "../../variables.less";
@import "./sliderNavButons.less";

@mainSliderClassName: main-slider;

@sliderHeight: 305px;
@sliderPadding: 100px;

.@{mainSliderClassName}-wrapper {
  background-color: @greyColor;
  position: relative;
  height: @sliderHeight;
  min-height: 100%;
  overflow: hidden;
  border-radius: @borderRadius;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    background: #f3f3f3;
  }

  .swiper-button-prev,
  .swiper-button-next {
    .sliderNavButons();
  }

  .swiper-pagination-bullet {
    background: #ffffff;
    opacity: .3;
    width: 15px;
    height: 15px;
  }

  .swiper-pagination-bullet-active {
    background: #ffffff;
    opacity: 1;
  }
}

.@{mainSliderClassName}-item {
  display: flex;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  align-items: center;
  text-decoration: none !important;
  position: relative;
  z-index: 2;
  justify-content: space-between;

  &-image-wrapper {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &-image {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }

  &-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;

    &-title {
      font-weight: 800;
      font-size: 45px;
      margin-bottom: 10px;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 30px;
      margin-bottom: 20px;
    }
  }
}

@media @medium {
  .@{mainSliderClassName}-wrapper {
    height: fit-content;
  }

  .@{mainSliderClassName}-item {
    padding: 30px 35px;

    &-summary {
      align-items: flex-start;
      text-align: left;

      &-title {
        font-size: 35px;
      }

      &-subtitle {
        font-size: 20px;
      }
    }

    &-image-wrapper:nth-child(1) {
      display: none;
    }
  }
}

@media @small {
  .@{mainSliderClassName}-item {
    &-summary {
      position: relative;
      z-index: 2;

      &-title {
        font-size: 30px;
      }

      &-subtitle {
        font-size: 15px;
      }
    }

    &-image-wrapper {
      position: absolute;
      z-index: 1;
      right: 0;
      width: 50%;
    }
  }
}