@import "../../variables.less";
@import "./sliderNavButons.less";

@mainSliderClassName: main-slider;

@sliderHeight: 305px;
@sliderPadding: 100px;

@slideBg: #e8e9eb;

.@{mainSliderClassName}-wrapper {
  position: relative;
  height: @sliderHeight;
  min-height: 100%;
  overflow: hidden;
  border-radius: @borderRadius;

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    background: #f3f3f3;
  }

  .swiper-button-prev,
  .swiper-button-next {
    .sliderNavButons();
  }

  .swiper-pagination-bullet {
    background: #ffffff;
    opacity: .3;
    width: 15px;
    height: 15px;
  }

  .swiper-pagination-bullet-active {
    background: #ffffff;
    opacity: 1;
  }
}

.@{mainSliderClassName}-item {
  display: flex;
  width: 100%;
  background-color: @slideBg;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  align-items: center;
  text-decoration: none !important;
  position: relative;
  z-index: 2;
  justify-content: space-between;
  background-size: cover;
  background-position: center;

  &-summary {
    display: flex;
    padding: 10px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    background: radial-gradient(rgba(255, 255, 255, 0.5), transparent, transparent);
    position: absolute;
    width: 100%;

    &-title {
      font-weight: 800;
      font-size: 3em;
      margin-bottom: 10px;
    }

    &-subtitle {
      font-weight: 400;
      font-size: 2em;
      margin-bottom: 20px;
    }
  }
}

@media @small {
  .@{mainSliderClassName}-item {
    &-summary {
      &-title {
        font-size: 2.5em;
      }

      &-subtitle {
        font-size: 1em;
        margin-bottom: 0px;
      }
    }

    .subscibe-form {
      max-width: 245px;
    }
  }
}