@import "../../variables.less";

@sidebarCatalogClass: sidebar-catalog;

.@{sidebarCatalogClass} {
    height: 100%;
    position: fixed;
    z-index: @sidebarZindex;
    background: #ffffff;
    top: 0px;
    left: @sidebarWidth;
    display: none;
    cursor: default;
}