@import "../../variables.less";
@import "../scroll.less";
@import "../anchor.less";

@sidebarCatalogClass: sidebar-catalog;

.@{sidebarCatalogClass} {
    position: fixed;
    z-index: @sidebarZindex;
    background: #ffffff;
    left: @sidebarWidth;
    display: none;
    top: 0px;
    min-width: 800px;
    cursor: default;
    box-shadow: rgb(50 50 93 / 3%) 0px 13px 27px -5px, rgb(0 0 0 / 12%) 0px 8px 16px -8px;
    padding: 30px 20px;
    overflow-y: auto;
    color: @textColor;
    height: 100%;
    .scroll(@greyColor, @primary, 12px);

    .announcement:not(.announcement-vertical) {
        max-height: 300px;
    }
}

@sidebarCatalogColor: fade(@sidebarColor, 75%);

@media @small {
    .@{sidebarCatalogClass} {
        position: static;
        background: #f3f3f3;
        min-width: unset;
        padding: 15px;
        margin-top: 10px;
        box-shadow: none;
        width: 100%;

        .catalog-department {
            color: @sidebarCatalogColor;
            border-bottom: none;
            padding-bottom: 0px;
        }

        .catalog-link {
            .anchor(@sidebarCatalogColor, @sidebarCatalogColor);
            display: flex;
        }

        .announcement {
            padding: 30px;
            padding: 15px 10px;
        }
    }
}