@import "../../variables.less";
@import "../scroll.less";
@import "./sidebarCatalog.less";
@import "../anchor.less";

@sidebarClass: sidebar;

.@{sidebarClass} {
    background: @sidebarBg;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 80px;
    height: 100%;
    padding: 15px 0 15px 0;
    z-index: @sidebarZindex;
    transition: width .3s ease-in-out;
    overflow: hidden;

    .scroll(transparent, rgba(255, 255, 255, 0.4), 7px);

    &:hover {
        width: @sidebarWidth;
        overflow: initial;

        .@{sidebarClass}-toggle {
            .bi {
                animation-name: sidebarOpenAnimation;
                animation-duration: .5s;
                animation-timing-function: ease-in-out;

                &:before {
                    content: "\f62a";
                }
            }
        }

        .@{sidebarClass}-link {
            .@{sidebarClass}-link-text {
                opacity: 1;
            }
        }
    }

    &-toggle {
        color: @sidebarColor;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        padding: 0 15px 0 15px;

        &-text {
            font-size: 16px;
            font-weight: 500;
        }

        .bi {
            font-size: 40px;
            padding-left: 5px;
            width: fit-content;
            padding-right: 5px;
            margin-right: 15px;

            animation-name: sidebarCloseAnimation;
            animation-duration: .5s;
            animation-timing-function: ease-in-out;
        }
    }

    &-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    &-link {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 10px 15px 10px 15px;
        width: 100%;
        position: relative;
        transition: background-color .3s ease-in-out;
        .anchor(@sidebarColor, @sidebarColor);

        &:hover {
            background-color: fade(@sidebarColor, 20%);
        }

        &:nth-last-child(1) {
            margin-bottom: 0px;
        }

        &-icon {
            width: 50px;
            min-width: 50px;
            height: 50px;
            background: @sidebarIconBg;
            border-radius: 10px;
            padding: 10px;
            cursor: pointer;
            margin-right: 15px;

            svg {
                width: 100%;
                height: 100%;

                path,
                rect,
                polygon {
                    fill: @sidebarColor;
                }
            }
        }

        &-text {
            color: @sidebarColor;
            font-weight: 300;
            font-size: 17px;
            justify-content: space-between;
            align-items: center;
            flex: 1;
            display: flex;
            opacity: 0;
            transition: opacity .3s ease-in-out;
        }
    }
}

@keyframes sidebarOpenAnimation {
    0% {
        transform: scale(0.9);
        opacity: .8;
    }

    80% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes sidebarCloseAnimation {
    0% {
        transform: scale(0.9);
        opacity: .8;
    }

    80% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media @medium {
    .@{sidebarClass} {
        display: none;
    }
}