@import "../../variables.less";
@import "../scroll.less";
@import "../anchor.less";

@sidebarCatalogClass: sidebar-catalog;

.@{sidebarCatalogClass} {
    position: absolute;
    z-index: @sidebarZindex;
    background: #ffffff;
    left: @sidebarWidth;
    display: none;
    top: 0px;
    min-width: 800px;
    cursor: default;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    padding: 30px 20px;
    overflow-y: auto;
    color: @textColor;

    .scroll(#f3f3f3, #ebebeb, 7px);
}

@sidebarCatalogColor: fade(@sidebarColor, 75%);

@media @small {
    .@{sidebarCatalogClass} {
        position: static;
        background: @sidebarBg;
        min-width: unset;
        padding: 15px;
        margin-top: 10px;
        box-shadow: none;
        margin-left: -15px;
        margin-right: -15px;

        .catalog-department {
            color: @sidebarCatalogColor;
            border-bottom: none;
            padding-bottom: 0px;
        }

        .catalog-link {
            .anchor(@sidebarCatalogColor, @sidebarCatalogColor);
            display: flex;
        }
    }
}