include product.pug

mixin productsSlider(title, id)
    -
        let breakpoints = {};
        let j = 2;

        for (let i = 300; i < 2400; i += 300) {
            breakpoints[i] = {
                slides: j,
                space: 5,
            }

            j++;
        }
        breakpoints = JSON.stringify(breakpoints);
    .section.section-slider
        .container-full
            if (title)
                h2.section-title= title
            .simple-slider(id= id data-breakpoints=breakpoints)
                .swiper-container
                    .swiper-wrapper
                        - for (let i = 0; i < 20; i++) {
                            .swiper-slide
                                +product()
                        - }
                .swiper-button-prev
                .swiper-button-next