mixin rate(customOptions = {})
    -
        let options = {};
        const rate = customOptions.rate || utils.randomInt(0, 6);
        const amount = customOptions.reviewsAmount || utils.randomInt(100, 200);

        options = Object.assign(options, customOptions);

    .rate
        .rate-stars
            - for (let i = 0; i < 5; ++i) {
                - if (i < rate) {
                    .bi.bi-star-fill.rate-star
                - } else {
                    .bi.bi-star.rate-star
                - }
            - }
        if (options.showAmount) 
            .rate-amount
                | (#{options.reviewsAmount} reviews)
