.header-bottom
    .header-bottom-left
        a.header-bottom-link.active(href="#") Home
        a.header-bottom-link(href="#") Shop
        a.header-bottom-link(href="#") Vendor
        a.header-bottom-link(href="#") Blog
        a.header-bottom-link(href="#") 
            | Pages
            span.bi.bi-triangle-fill.arrow
        a.header-bottom-link(href="#") Elements
        a.header-bottom-link(href="#") Features
    .header-bottom-right
        a.header-bottom-link.daily-sales(href="")
            span.bi.bi-percent
            | Daily Sales
