include ../html/start.html
include ../../mixins/mixins.pug

head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")

  title Expreessi - Marketplace eCommerce HTML Template

  link(rel="stylesheet" href="css/style.css")

<body>
  include ../sidebar/sidebar.pug
  .area
    .header
      include top.pug
      include middle.pug
      include bottom.pug