include ../html/start.html
include ../../mixins/mixins.pug

- const utils = htmlWebpackPlugin.options.utils;

head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0")

    title liteShops - Universal eCommerce HTML Template

    link(rel="stylesheet" href="css/style.css")
    link(rel="icon" href="images/favicon.svg")

<body>
    .loader.loader-full-page
        img.loader-animation(src="images/loader.svg" alt="Loading...")

    include ../sidebar/sidebar.pug

    <div class="page">

        header.header
            include crossBrowserHint.pug
            include top.pug
            include middle.pug
            include bottom.pug

    <div class="main">
