include ../../mixins/logo/logo.pug

- const categories = new Array(5).fill(null).map((_, i) => ({ title: utils.faker.commerce.department() }));

.header-middle
    .header-middle-logo-and-slogan
        +logo() 
        .header-middle-slogan
            | Professional e-commerce html template
    .header-middle-search-field
        .btn-dropdown(data-toggle="#categoriesDropdown" data-trigger="hover")
            | All categories
            span.bi.bi-triangle-fill
            +dropdown(categories, "categoriesDropdown")
        input.search-field-input(placeholder="Search in...")
        button.btn-search.btn-only-icon
            span.bi.bi-search
    .header-middle-call
        a.header-middle-call-phone(href="tel:10000000000")
            span.bi.bi-telephone
            span.header-middle-call-phone-number
                | +1 (000) 000-00-00
        .header-middle-call-link
            | Call me
    a.header-middle-cart(href=utils.anchor("cart"))
        .header-middle-cart-icon
            span.bi.bi-cart
            span.header-middle-cart-amount 0
        .header-middle-cart-data
            | Cart
            .header-middle-cart-price
                | $ 100.0
