include ../../mixins/logo.pug
.navbar
    .container
        .navbar-top
            +logo("white")
            button.btn-secondary.btn-open-catalog
                span.bi.bi-list-ul
                | Catalog
            .search-field
                .btn-dropdown
                    | All categories
                    span.bi.bi-triangle-fill
                input.search-field-input(placeholder="Search in...")
                button.btn-search.btn-only-icon
                    span.bi.bi-search
            .auth-btns
                button.btn-transparent
                    span.bi.bi-person-circle
                    | Sign In
                button.btn-transparent.btn-only-icon.btn-favourites
                    span.bi.bi-heart
                    div.amount-label(data-in-favourite-amount)
                button.btn-transparent
                    span.bi.bi-cart
                    | Cart
        include navigation.pug