.header-top
    .header-top-geo
        .header-top-label Location:
        .header-top-dropdown(data-toggle="#citiesDropdown" data-trigger="hover")
            | London
            +dropdown([
                {
                    title: "New York",
                    href: "#",
                }
            ], "citiesDropdown")
        .header-top-label Lang:
        .header-top-dropdown(data-toggle="#langsDropdown" data-trigger="hover")
            | En
            +dropdown([
                {
                    title: "French",
                    href: "#",
                },
                {
                    title: "Russian",
                    href: "#",
                }
            ], "langsDropdown")
    .header-top-account
        .header-top-link.header-top-link-add(href="#")
            span.bi.bi-heart-fill
            .header-top-label Favourite (0)
        .header-top-link.header-top-link-add(href="#")
            span.bi.bi-reception-3
            .header-top-label Compare (1)
        .header-top-link(href="#")
            span.bi.bi-person
            .header-top-label Sign in
        .header-top-divider /
        .header-top-link(href="#")
            span.bi.bi-person-plus
            .header-top-label Sign up
        .header-top-link.header-open-right-sidebar(data-toggle="#headerBottom")
            span.bi.bi-list