.header-top
    .header-top-left
        | Location:
        .header-top-dropdown(data-toggle="#citiesDropdown" data-trigger="hover")
            | London
            +dropdown([
                {
                    title: "New York",
                    href: "#",
                }
            ], "citiesDropdown")
        | Lang:
        .header-top-dropdown(data-toggle="#langsDropdown" data-trigger="hover")
            | En
            +dropdown([
                {
                    title: "French",
                    href: "#",
                },
                {
                    title: "Russian",
                    href: "#",
                }
            ], "langsDropdown")
    .header-top-right
        .header-top-link.header-top-link-add
            span.bi.bi-heart-fill
            | Favourite (0)
        .header-top-link.header-top-link-add
            span.bi.bi-reception-3
            | Compare (0)
        .header-top-link
            span.bi.bi-person
            | Sign in
        .header-top-divider /
        .header-top-link
            span.bi.bi-person-plus
            | Sign up