.header-top
    .header-top-left
        | Location:
        .header-top-dropdown
            | London
        | Lang:
        .header-top-dropdown
            | En
    .header-top-right
        .header-top-link.header-top-link-add
            span.bi.bi-heart-fill
            | Favourite (0)
        .header-top-link.header-top-link-add
            span.bi.bi-reception-3
            | Compare (0)
        .header-top-link
            span.bi.bi-person
            | Sign in
        .header-top-divider /
        .header-top-link
            span.bi.bi-person-plus
            | Sign up