.top-panel
    .container
        .top-panel-location
                span.link
                    span.bi.bi-geo-alt-fill
                    | London
                a.link(href="tel:880000000000")
                    span.bi.bi-telephone
                    | 8 (800) 000-00-00
        .top-panel-nav
            .dropdown(data-toggle="#languageDropdown", data-trigger="hover")
                img.image(src="images/uk.svg", alt="UK Flag")
                | En
                #languageDropdown.top-panel-dropdown.fade-jump
                    .dropdown-content
                        a.item(href="#")
                            img.image(src="images/uk.svg", alt="UK Flag")
                            | En
                        a.item(href="#")
                            img.image(src="images/fr.svg", alt="France Flag")
                            | Fr
            .dropdown(data-toggle="#currencyDropdown", data-trigger="hover") USD
                #currencyDropdown.top-panel-dropdown.fade-jump
                    .dropdown-content
                        a.item(href="#") USD
                        a.item(href="#") RUB
            a.link(href="#") Blog
            a.link(href="#") Contant Us 
            a.link(href="#") About