include views/partials/header/header.pug

.area
    .section
        .container-full
            +breadcrumbs([
                "Main", "Blog", "Article"
            ])
            .row
                .col-xxl-9
                    +pageTitle()
                    +customContent({
                        isFull: true,
                        isArea: true,
                        inludeQuote: true,
                        inludeOL: true,
                        includeImage: true,
                    })
                .col-xxl-3
                    .mb-5
                        +saleBlock({
                            type: "sale-block-warning",
                            image: utils.getUpload("announcement/1.png"),
                        })
                    .simple-slider.simple-slider-aside.mb-5(id="asidePrductsSlider")
                        .simple-slider-aside-title Products from post
                        .swiper-container.pb-0
                            .swiper-wrapper
                                - for (let i = 0; i < 20; i++) {
                                    .swiper-slide
                                        .mb-3
                                            +product({
                                                inline: true
                                            })
                                        .mb-3
                                            +product({
                                                inline: true
                                            })
                                        +product({
                                            inline: true
                                        })
                                - }
                        .swiper-button-prev
                        .swiper-button-next
                    .mb-5
                        +announcement({
                            title: "1 + 1 = GIFT", 
                            subTitle: "fantastic sale",
                            image: utils.getUpload("announcement/1.png"),
                            bg: `background: linear-gradient(140deg, #7da100, #abcd36);`,
                        })
                    .mb-5
                        +announcement({
                            title: "70% OFF", 
                            subTitle: "fantastic sale",
                            image: utils.getUpload("announcement/3.png"),
                            bg: `background: linear-gradient(140deg, #1797df, #89c4ca);`,
                        })
                    .mb-3
                        +category(
                            utils.faker.commerce.department(),
                            utils.getUpload("categories/1.svg", "default")
                        )
                    +category(
                        utils.faker.commerce.department(),
                        utils.getUpload("categories/3.svg", "default")
                    )
    .section
        .container-full
            +tabs([
                {
                    name: "You May Iike (10)",
                    contentId: "#youMayLike",
                    active: true,
                },
                {
                    name: "Personal Recommendations (7)",
                    contentId: "#personalRecommendations",
                }
            ])
            .tab-content#youMayLike
                +productsSlider(undefined, "youMayLikeSlider")
            .tab-content#personalRecommendations
                +productsSlider(undefined, "personalRecommendationsSlider")

include views/partials/footer/footer.pug