include components/partials/header/header.pug

.section
    .container-full
        +breadcrumbs([
            "Main", "Checkout", "Shopping Cart"
        ])
        +cartTable()

include components/partials/footer/footer.pug