include views/partials/header/header.pug

.area
    .section
        .container-full
            +breadcrumbs([
                "Main", "Catalog", "Wear", "Women's clothing"
            ])
            h1.section-title Product Category Name
            +sortPanel()
            .row
                .col-lg-3.col-xl-2.col-xxl-2.pb-3
                    +filters()
                .col-lg-9.col-xl-10.col-xxl-10
                    .row
                        - for (let i = 0; i < 22; i++) {
                            .col-sm-6.col-md-4.col-lg-3.col-xl-3.col-xxl-2.pb-3
                                +product()
                        - }
        +pagination()

    +productsSlider("You Recent Views", "recentViews")

include views/partials/footer/footer.pug