include views/partials/header/header.pug

.section
    .container-full
        +breadcrumbs([
            "Main", "Catalog", "Wear", "Women's clothing"
        ])
        h1.section-title Product Category Name
        +sortPanel()
        .row
            div(class=utils.classNames.productsCol)
                .row
                    .col-xl-6.col-xxl-4.pb-4
                        +category(
                            utils.faker.commerce.department(),
                            utils.getUpload("categories/3.svg", "default")
                        )
                    .col-xl-6.col-xxl-4.pb-4
                        +category(
                            utils.faker.commerce.department(),
                            utils.getUpload("categories/3.svg", "default")
                        )
                    .col-xl-6.col-xxl-4.pb-4
                        +category(
                            utils.faker.commerce.department(),
                            utils.getUpload("categories/3.svg", "default")
                        )
                .row
                    - for (let i = 0; i < 22; i++) {
                        div(class=utils.classNames.productsGrid).pb-3
                            +product()
                    - }
            div(class=utils.classNames.filtersCol).pb-3
                +filters()
    +pagination()

+productsSlider("You Recent Views", "recentViews")

include views/partials/footer/footer.pug