include views/partials/header/header.pug

.area
    .section
        .container-full
            +breadcrumbs([
                "Main", "Catalog", "Wear", "Women's clothing"
            ])
            h1.section-title Product Category Name
            +sortPanel("inline")
            .row
                div(class=utils.classNames.filtersCol).pb-3
                    +filters()
                div(class=utils.classNames.productsCol)
                    .row
                        - for (let i = 0; i < 22; i++) {
                            .col-6.col-sm-6.col-md-6.col-lg-6.col-xl-6.col-xxl-4.pb-3
                                +product({
                                    inline: true
                                })
                        - }
        +pagination()

    +productsSlider("You Recent Views", "recentViews")

include views/partials/footer/footer.pug