include components/partials/header/header.pug

.section
    .container-full
        +breadcrumbs([
            "Main", "Favourites"
        ])
        h1.section-title Favourites (10)
        .row
            - for (let i = 0; i < 5; i++) {
                .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-3.col-xxl-2.pb-3
                    +product({
                        inFavourite: true,
                        inCompare: false,
                    })
            - }

include components/partials/footer/footer.pug