include views/partials/header/header.pug

.popular
    .container
        .row
            .col-xl-9
                +mainSlider()
            .col-xl-3
                +sale-block(
                    "bg-green-rgadient",
                    "Free sertificates",
                    "For you and your loved ones!",
                    "#",
                    "Order now",
                    "images/gift.png",
                    "Sertificate Icon")
                +sale-block(
                    "bg-orange-rgadient",
                    "Choose a healthy lifestyle",
                    "For the whole family",
                    "#",
                    "Buy",
                    "images/garden.png",
                    "Sertificate Icon")

+productsSlider("Top Sales", "topSales")

+categories()

.container
    .row
        .col-xl-2
            +announcement("New Collection",
                "TRENDING House Utensil",
                "Shop Now",
                "images/blender.jpeg")

        .col-xl-10
            .catalog-layout-4
                +loop("product", 8)

.container
    .row
        .col-xl-10
            .catalog-layout-4
                +loop("product", 10)
        .col-xl-2

+productsSlider("Best Sellers", "bestSellers")


include views/partials/footer/footer.pug