include views/partials/header/header.pug

.area
    .section
        .container-full
            .row
                .col-xxl-6.col-xl-12.pb-3
                    +mainSlider()
                .col-xxl-3.col-xl-6.pb-3
                    +announcement({
                        image: "images/scrub.jpeg",
                        fullHeight: true,
                        isBright: true,
                        mainTitle: `
                            <div class="announcement-main-title-smaller">It's time to</div>
                            <b>SAVE THE PLANET</b>
                        `,
                        description: `
                            <div class="text-thin">CHOOSE ORGANIC COSMETIC</div>
                        `,
                        btnText : "Shop Now",
                        btnClass: "btn-contrast"
                    })
                .col-xxl-3.col-xl-6.pb-3
                    .sales-layout 
                        +sale-block(
                            "Good discounts on bedroom furniture",
                            "#",
                            "images/couch.jpeg",
                            "Sertificate Icon",
                            40)
                        +sale-block(
                            "Free shipping when ordering more than 3 items online on our website",
                            "#",
                            "images/delivery.jpeg",
                            "Sertificate Icon",
                            75)

    +productsSlider("Top Sales", "topSales")

    .section
        .container-full
            .row
                .col-xxl-3.col-xl-6.pb-3
                    +announcement({
                        image: "images/watch.jpeg",
                        fullHeight: true,
                        mainTitle: `
                            <div class="announcement-main-title-smaller">Be ready to <b class="text-contrast">20% OFF</b></div>
                            for all <b>TECHNICAL BRENDS</b>
                        `,
                        description: `
                            Just From <b>$90.00</b>
                        `,
                        tags: [
                            "study",
                            "technical",
                            "work",
                        ]
                    })
                .col-xxl-3.col-xl-6.pb-3
                    +announcement({
                        image: "images/scrub.jpeg",
                        fullHeight: true,
                        isBright: true,
                        mainTitle: `
                            <div class="announcement-main-title-smaller">It's time to</div>
                            <b>SAVE THE PLANET</b>
                        `,
                        description: `
                            <div class="text-thin">CHOOSE ORGANIC COSMETIC</div>
                        `,
                        btnText : "Shop Now",
                        btnClass: "btn-secondary"
                    })
                .col-xxl-3.col-xl-6.pb-3
                    +announcement({
                        image: "images/organic.jpeg",
                        fullHeight: true,
                        mainTitle: `
                            <div class="announcement-main-title-smaller">It's time to</div>
                            <b>SAVE THE PLANET</b>
                        `,
                        description: `
                            <div class="text-thin">CHOOSE ORGANIC COSMETIC</div>
                        `,
                        btnText : "Shop Now",
                        btnClass: "btn-dark"
                    })
                .col-xxl-3.col-xl-6.pb-3
                    +announcement({
                        image: "images/workspace.jpeg",
                        fullHeight: true,
                        isBright: true,
                        mainTitle: `
                            <div class="announcement-main-title-smaller">Be ready to <b class="text-contrast">20% OFF</b></div>
                            for all <b>TECHNICAL BRENDS</b>
                        `,
                        description: `
                            Just From <b>$90.00</b>
                        `,
                        tags: [
                            "study",
                            "technical",
                            "work",
                        ]
                    })


    +categories()

    .section
        .container-full
            +titleLink("Best Sellers", "More Products")
            .row
                .col-xl-3
                    +announcement({
                        subTitle: "New Collection", 
                        mainTitle: "<b>Almost FREE Blender</b>",
                        btnText : "Shop Now",
                        image: "images/blender.jpeg",
                        isBright: true,
                        fullHeight: true,
                        btnClass: "btn-contrast",
                        tags: [
                            "home",
                            "technical",
                            "kitchen",
                            "natural"
                        ]
                    })
                .col-xl-9
                    .catalog-layout-4
                        +loop("product", 8)

    .section
        .container-full
            +titleLink("Technological innovations", "More Products")
            .row
                .col-xl-9
                    .catalog-layout-4
                        +loop("product", 8)
                .col-xl-3
                    +announcement({
                        subTitle: "New Collection", 
                        mainTitle: "<b>Summer trends are waiting</b>",
                        btnText : "Shop Now",
                        image: "images/purchases.jpeg",
                        isBright: false,
                        fullHeight: true,
                        btnClass: "btn-primary",
                        tags: [
                            "study",
                            "computers",
                            "summer"
                        ]
                    })


    +productsSlider("Your Recent Views", "recentViews")

    .section
        .container-full
            +brands(12)

    +articlesSlider("Our blog", "More articles", "ourBlog")

    include views/partials/footer/footer.pug