include views/partials/header/header.pug

include views/partials/populars.pug

include views/mixins/productsSlider.pug
+productsSlider("Top Sales", "topSales")


+productsSlider("Best Sellers", "bestSellers")


include views/partials/footer.pug