include views/partials/header/header.pug

.area
    .section
        .container-full
            .row
                .col-md-6.col-xxl-3.pb-3
                    +announcement({
                        title: "70% OFF", 
                        subTitle: "fantastic sale",
                        image: utils.getUpload("announcement/3.png"),
                        bg: `background: linear-gradient(140deg, #1797df, #89c4ca);`,
                    })
                .col-md-6.order-xxl-last.col-xxl-3.pb-3
                    .sales-layout 
                        +saleBlock({
                            type: "sale-block-success",
                            image: utils.getUpload("announcement/7.png"),
                        })
                        +saleBlock({
                            type: "sale-block-contrast",
                            image: utils.getUpload("announcement/1.png"),
                        })
                .col-xl-12.col-xxl-6.pb-3
                    +mainSlider()

    +productsSlider("Top Sales", "topSales")

    .section
        .container-full
            +titleLink("Best Sellers", "More Products")
            .row
                .col-xl-3.pb-3
                    .row.full-height
                        .col-xl-12.col-xxl-6.pb-3
                            +announcement({
                                isVertical: true,
                            })
                        .col-xl-12.col-xxl-6.pb-3
                            +announcement({
                                isVertical: true,
                                title: "1 + 1 = GIFT", 
                                subTitle: "fantastic sale",
                                image: utils.getUpload("announcement/1.png"),
                                bg: `background: linear-gradient(140deg, #7da100, #abcd36);`,
                            })
                .col-xl-9.pb-3
                    .row
                        - for (let i = 0; i < 12; i++) {
                            div(class=utils.classNames.productsGrid).pb-3
                                +product()
                        - }

    .section
        .container-full
            .section-title Buy right now
            +productFull()

    .section
        .container-full
            .row
                .col-xxl-3.col-xl-6.pb-3
                    +announcement({
                        image: utils.getUpload("announcement/5.png"),
                        bg: `background: linear-gradient(140deg, #00a649, #56a6c9);`,
                    })
                .col-xxl-3.col-xl-6.pb-3
                    +announcement({
                        title: "1 + 1 = 3", 
                        image: utils.getUpload("announcement/10.png"),
                    })
                .col-xxl-3.col-xl-6.pb-3
                    +announcement({
                        title: "1 + 1 = GIFT", 
                        subTitle: "fantastic sale",
                        image: utils.getUpload("announcement/1.png"),
                        bg: `background: linear-gradient(140deg, #7da100, #abcd36);`,
                            })
                .col-xxl-3.col-xl-6.pb-3
                    +announcement()

    +categories()

    .section
        .container-full
            +titleLink("Technological innovations", "More Products")
            .row
                .col-xl-9.pb-3
                    .row
                        - for (let i = 0; i < 12; i++) {
                            div(class=utils.classNames.productsGrid).pb-3
                                +product()
                        - }
                .col-xl-3.pb-3
                    .row.full-height
                        .col-xl-12.col-xxl-6.pb-3
                            +announcement({
                                isVertical: true,
                                image: utils.getUpload("announcement/7.png"), 
                                title: "15% OFF", 
                                bg: "background: linear-gradient(140deg, #ef793a, #e6d4aa);" 
                            })
                        .col-xl-12.col-xxl-6.pb-3
                            +announcement({
                                isVertical: true,
                                image: utils.getUpload("announcement/10.png"),
                                btnClass: "btn-dark",
                                title: "35% OFF", 
                                bg: "background: linear-gradient(140deg, #9662a4, #e0a7be);" 
                            })

    +productsSlider("Your Recent Views", "recentViews")

    +articlesSlider("Our blog", "More articles", "ourBlog")

    .section
        .container-full
            +brands(12)


include views/partials/footer/footer.pug