include views/partials/header/header.pug

.area
    .section
        .container-full
            .row
                .col-xl-12.col-xxl-6.pb-3
                    +mainSlider()
                .col-md-6.col-xxl-3.pb-3
                    +announcement({
                        title: "70% OFF", 
                        subTitle: "fantastic sale",
                        image: utils.getUpload("announcement/2.jpg"),
                        bg: `background: linear-gradient(140deg, #1797df, #89c4ca);`,
                    })
                .col-md-6.col-xxl-3.pb-3
                    .sales-layout 
                        +saleBlock({
                            image: utils.getUpload("sale/2.png"),
                        })
                        +saleBlock({
                            type: "sale-block-warning",
                            image: utils.getUpload("sale/1.png"),
                        })

    +productsSlider("Top Sales", "topSales")

    .section
        .container-full
            .row
                .col-sm-6.col-xxl-3.pb-3
                    +announcement({
                        isBright: true,
                        image: utils.getUpload("announcement/6.jpg"),
                    })
                .col-sm-6.col-xxl-3.pb-3
                    +announcement({
                        image: utils.getUpload("announcement/5.jpg"),
                        bg: `background: linear-gradient(140deg, #00a649, #56a6c9);`,
                    })
                .col-sm-6.col-xxl-3.pb-3
                    +announcement({
                        isBright: true,
                        title: "1 + 1 = GIFT", 
                        subTitle: "fantastic sale",
                        image: utils.getUpload("announcement/3.jpg"),
                        btnClass: "btn-dark",
                    })
                .col-sm-6.col-xxl-3.pb-3
                    +announcement({
                        title: "1 + 1 = 3", 
                        image: utils.getUpload("announcement/2.jpg"),
                    })

    +categories()

    .section
        .container-full
            +titleLink("Best Sellers", "More Products")
            .row
                .col-xl-3.pb-3
                    .row.full-height
                        .col-xl-12.col-xxl-6.pb-3
                            +announcement({
                                isVertical: true,
                                isBright: true,
                                image: utils.getUpload("announcement/7.jpg"), 
                                title: "15% OFF", 
                                btnClass: "btn-success",
                            })
                        .col-xl-12.col-xxl-6.pb-3
                            +announcement({
                                image: utils.getUpload("announcement/9.jpg"),
                                isVertical: true,
                                title: "1 + 1 = 3", 
                            })
                .col-xl-9.pb-3
                    .row
                        - for (let i = 0; i < 12; i++) {
                            div(class=utils.classNames.productsGrid).pb-3
                                +product()
                        - }

    .section
        .container-full
            +titleLink("Technological innovations", "More Products")
            .row
                .col-xl-9.pb-3
                    .row
                        - for (let i = 0; i < 6; i++) {
                            div(class=utils.classNames.productsInlineGrid).pb-3
                                +product({ inline: true })
                        - }
                .col-xl-3.pb-3
                    .row.full-height
                        .col-xl-12.col-xxl-6.pb-3
                            +announcement({
                                image: utils.getUpload("announcement/8.jpg"),
                                isVertical: true,
                                title: "15% OFF", 
                            })
                        .col-xl-12.col-xxl-6.pb-3
                            +announcement({
                                isVertical: true,
                                isBright: true,
                                image: utils.getUpload("announcement/10.jpg"),
                                btnClass: "btn-dark",
                                title: "35% OFF", 
                            })

    +productsSlider("Your Recent Views", "recentViews")

    .section
        .container-full
            +brands(12)

    +articlesSlider("Our blog", "More articles", "ourBlog")

include views/partials/footer/footer.pug