include views/partials/header/header.pug

.area
    .section
        .container-full
            .row
                .col-xl-12.col-xxl-6.pb-3
                    +mainSlider()
                .col-md-6.col-xxl-3.pb-3
                    +announcement()
                .col-md-6.col-xxl-3.pb-3
                    .sales-layout 
                        +saleBlock(
                            utils.faker.company.catchPhrase(),
                            utils.getUpload("announcement/2.jpeg"),
                            utils.faker.company.catchPhrase(),
                            40)
                        +saleBlock(
                            utils.faker.company.catchPhrase(),
                            utils.getUpload("announcement/3.jpeg"),
                            utils.faker.company.catchPhrase(),
                            75)

    +productsSlider("Top Sales", "topSales")

    .section
        .container-full
            .row
                .col-sm-6.col-xxl-3.pb-3
                    +announcement({
                        title: "70% OFF", 
                        subTitle: "fantastic sale",
                        bg: `background: linear-gradient(140deg, #1797df, #89c4ca);`,
                    })
                .col-sm-6.col-xxl-3.pb-3
                    +announcement({
                        title: "10% OFF", 
                        subTitle: "fantastic sale",
                        bg: `background: linear-gradient(140deg, #7da100, #abcd36);`,
                    })
                .col-sm-6.col-xxl-3.pb-3
                    +announcement({
                        bg: `background: linear-gradient(140deg, #ea5f9d, #e05264);`,
                    })
                .col-sm-6.col-xxl-3.pb-3
                    +announcement({
                        title: "15% OFF", 
                    })

    +categories()

    .section
        .container-full
            +titleLink("Best Sellers", "More Products")
            .row
                .col-xl-3.pb-3
                    .row.full-height
                        .col-xl-12.col-xxl-6.pb-3
                            +announcement({
                                isVertical: true,
                            })
                        .col-xl-12.col-xxl-6.pb-3
                            +announcement({
                                isVertical: true,
                                isBright: true,
                                btnClass: "btn-warning",
                                bg: "background: linear-gradient(140deg, #ffffff, #eeeff0);" 
                            })
                .col-xl-9.pb-3
                    .row
                        - for (let i = 0; i < 12; i++) {
                            div(class=utils.classNames.productsGrid).pb-3
                                +product()
                        - }

    .section
        .container-full
            +titleLink("Technological innovations", "More Products")
            .row
                .col-xl-9.pb-3
                    .row
                        - for (let i = 0; i < 12; i++) {
                            div(class=utils.classNames.productsGrid).pb-3
                                +product()
                        - }
                .col-xl-3.pb-3
                    .row.full-height
                        .col-xl-12.col-xxl-6.pb-3
                            +announcement({
                                isVertical: true,
                            })
                        .col-xl-12.col-xxl-6.pb-3
                            +announcement({
                                isVertical: true,
                            })

    +productsSlider("Your Recent Views", "recentViews")

    .section
        .container-full
            +brands(12)

    +articlesSlider("Our blog", "More articles", "ourBlog")

include views/partials/footer/footer.pug