include views/partials/header/header.pug

.section
    .container-full
        form.form.form-single(action=utils.anchor("sign-in-after-reset"))
            h1.form-title Password reset
            .form-control
                +input({
                    placeholder: "Phone or email",
                    isWhite: true,
                    required: true,
                })
            .form-submit-wrapper
                button.btn.btn-primary.btn-large(type="submit")
                    .bi.bi-lock
                    | Reset password
            .form-bottom-hint 
                a.anchor-primary(href=utils.anchor("sign-in"))
                    .bi.bi-arrow-90deg-left
                    | Back to sign in

include views/partials/footer/footer.pug