include views/partials/header/header.pug

-
    const { faker } = htmlWebpackPlugin.options.utils;
    const title = faker.commerce.productName();

.area
    .section
        .container-full
            h1.section-title=title     

        +productsSlider("You may like", "topSales")

include views/partials/footer/footer.pug