include views/partials/header/header.pug

-
    const department = utils.faker.commerce.department();

.area
    .section
        .container-full
            +breadcrumbs([
                "Main", "Catalog", department, title
            ])

            +productFull()   

    +productsSlider("You may also like", "topSales")

include views/partials/footer/footer.pug