include views/partials/header/header.pug

-
    const department = utils.faker.commerce.department();
    const title = utils.faker.commerce.department();

.section
    .container-full
        +breadcrumbs([
            "Main", "Catalog", department, title
        ])

        +productFull()   

+categories()

+productsSlider("You may also like", "topSales")

include views/partials/footer/footer.pug