include views/partials/header/header.pug

.section
    .container-full
        +signIn({
            description: `<span class="bi bi-info-circle"></span> New password was sent on your email!`,
        })

include views/partials/footer/footer.pug