@import "../anchor.less";
@import "../../variables.less";

@filtersClassName: filters;

@filterPaddingVertical: 20px;
@filterPaddingHorizontal: 15px;
@filterPadding: @filterPaddingVertical @filterPaddingHorizontal;
@filtersMobileWidth: 300px;
@filtersMobileCloseHeight: 50px;

.@{filtersClassName} {
    background-color: #ffffff;
    user-select: none;
    border: 1px solid #eee;
    border-radius: @borderRadius;

    &-header {
        padding: @filterPadding;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &-title {
        font-size: 16px;
        font-weight: 600;
    }

    &-clean-all {
        .anchor(@primary, @primary);

        .bi {
            margin-right: 3px;
        }
    }

    &-expander {
        &-header {
            font-size: 15px;
            font-weight: 500;
            padding: @filterPadding;
            border-bottom: 1px solid @greyColor;
            position: relative;
            padding-right: 50px;
            transition: color .2s ease-in-out;

            &:before {
                content: " ";
                display: block;
                width: 14px;
                height: 2px;
                background: @textColor;
                right: @filterPaddingHorizontal;
                top: calc(50% - 1.5px);
                position: absolute;
                transition: background-color .2s ease-in-out;
            }

            &:after {
                content: " ";
                display: block;
                position: absolute;
                height: 14px;
                width: 2px;
                background: @textColor;
                top: calc(50% - 7.5px);
                right: calc(@filterPaddingHorizontal + 6px);
                transition: background-color .2s ease-in-out;
                transition: transform .4s ease-in-out,
                    opacity .6s ease-in-out;
            }

            &:hover {
                color: @primary;
                cursor: pointer;

                &:before,
                &:after {
                    background: @primary;
                }
            }

            &.toggled {
                &:after {
                    transform: rotate(90deg);
                    opacity: 0;
                }
            }
        }

        &-body {
            padding: @filterPadding;
            border-bottom: 1px solid @greyColor;
        }
    }

    &-view-all {
        .anchor(@primary, @primary);
        .anchor-underline(@primary, 1px);

        &.toggled {
            display: none;
            margin-bottom: 10px;
        }
    }

    &-price-inputs {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-divider {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    &-mobile-toggle {
        display: none;
        margin-bottom: 10px;
        position: relative;
        padding-right: 15px;

        &-amount {
            position: absolute;
            background: @warning;
            color: #ffffff;
            border-radius: 100%;
            border: 1px solid #ffffff;
            font-size: 12px;
            min-width: 17px;
            padding: 2px;
            height: 17px;
            display: flex;
            align-items: center;
            justify-content: center;
            top: -10px;
            right: 0px;
        }

        .bi {
            margin-right: 10px;
        }
    }

    &-mobile-close {
        display: none;
        position: fixed;
        background: #e7e7e7;
        color: @textColor;
        align-items: center;
        padding: 10px;
        right: 0px;
        width: @filtersMobileWidth;
        height: @filtersMobileCloseHeight;

        .bi {
            margin-right: 10px;
        }
    }
}

@media (min-width: @lg) {
    .@{filtersClassName} {
        display: block !important;
    }
}


@media @medium {
    .@{filtersClassName} {
        position: fixed;
        top: 0;
        right: 0px;
        width: @filtersMobileWidth;
        z-index: @sidebarZindex + 1;
        height: calc(100% - @sidebarToggleMobileHeight);
        overflow-y: auto;
        display: none;
        padding-bottom: @filtersMobileCloseHeight;

        &-mobile-toggle {
            display: flex;
        }

        &-mobile-close {
            display: flex;
            z-index: @sidebarZindex + 2;
            bottom: @sidebarToggleMobileHeight * 2;
        }
    }
}

@media @small {
    .@{filtersClassName} {
        height: calc(100% - @sidebarToggleMobileHeight * 2);
        bottom: @sidebarToggleMobileHeight * 3;

        &-modile-toggle {
            margin-left: 20px;
        }
    }
}