include cartTableRow.pug

mixin cartTable()
    .cart-table
        .row
            .col-xl-9
                .cart-table-products
                    .cart-table-summary
                        h1.cart-table-title Shopping Cart
                        .cart-table-amount 3 Items
                    .cart-table-header
                        .row.cart-table-row
                            .col-md-5.cart-table-col Product
                            .col-md-3.cart-table-col Quantity
                            .col-md-2.cart-table-col Price
                            .col-md-2.cart-table-col Total
                    .cart-table-body
                        +cartTableRow()
                        +cartTableRow()
                        +cartTableRow()
                        +cartTableRow()
                    .cart-table-footer
                        a(href=utils.anchor("category")).cart-table-back 
                            span.bi.bi-arrow-90deg-left
                            | Continue Shopping
            .col-xl-3
                .cart-table-order
                    .cart-table-summary
                        .cart-table-title Order Summary
                    .cart-table-labels-group
                        .cart-table-label Items
                        .cart-table-label 
                            b $457.00
                    .cart-table-label Shipping
                    .shipping-group
                        +shipping("images/shipping/standart.svg", "Standart", "$10")
                        +shipping("images/shipping/priority.svg", "Priority", "$12", true)
                        +shipping("images/shipping/overweight.svg", "Overweight", "$15")
                    .cart-table-label Promo code
                    .form-control
                        +input({
                            placeholder: "Enter your code",
                            isWhite: true,
                        })
                    .btn.btn-success
                        .bi.bi-lightning-charge
                        | APPLY
                    .cart-table-divider
                    .cart-table-labels-group
                        .cart-table-label Total Cost
                        .cart-table-label
                            b $557.00
                .btn.btn-primary.btn-large
                    .bi.bi-cart2
                    | CHECKOUT
