mixin settings()
    .settings(data-current-theme=utils.currentTheme)
        .settings-toggle
            .bi.bi-sliders
        .settings-area
            .settings-item
                .settings-item-title Color Scheme
                - for (let theme of htmlWebpackPlugin.options.themes) {
                    .settings-item-value-color(class=`${theme.name === htmlWebpackPlugin.options.theme ? "active" : ""}` data-theme=theme.name)
                        .settings-item-color(style=`background-color:${theme.primaryColor}`)
                - }